/*
Theme Name: 	Make-Makercamp
Description: 	A child theme of the OneCommunity Theme
Author: 		Make: Community Dev Team
Author URI: 	https://make.co
License: 		GNU General Public License v3 or later
License URI: 	http://www.gnu.org/licenses/gpl-3.0.html
Tags: buddypress
Template: onecommunity
Version: 1.0.617
*/

/* All CSS has been moved into the CSS folder */
