/* make buddypress pages full width */
.buddypress, .home-page {
    .site-content .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}

.bp-nouveau {
	background-color: #FAFBFD;
	.bb-grid {
		margin-left: 0px;
		margin-right: 0px;
	}
	span.count { background: #fff !important; }
}
.has-sidebar:not(.profile-sidebar):not(.group-sidebar):not(.llms-pointer) #primary, body.buddypress.has-sidebar:not(.profile-sidebar):not(.group-sidebar):not(.llms-pointer) #page #primary {
    max-width: 100%;
}

// Everything from buddyboss that we have to override with Roboto Font
.bb-custom-typo h1, .bb-custom-typo .h1, .bb-custom-typo h2, .bb-custom-typo .h2, .bb-custom-typo h3, .bb-custom-typo .h3, .bb-custom-typo h4, .bb-custom-typo .h4, .bb-custom-typo h5, .bb-custom-typo .h5, .bb-custom-typo h6, .bb-custom-typo .h6, .bb-custom-typo .bb-course-footer, .bb-custom-typo .ld-table-list-header .ld-text, .bb-custom-typo .gamipress-achievement-points {
    font-family: 'Roboto';
    color: #333;
    font-weight: 600;
}

.buddypress-wrap .bp-pagination .bp-pagination-links a, .buddypress-wrap .bp-pagination .bp-pagination-links span {
  width: auto;
  min-width: 28px;
}


///////////// GROUPS //////////////////

body.groups:not(.admin-bar) {
	fieldset.group-create-types, fieldset.group-parent {
		display: none;
	}
}

//show hidden groups if you're a member
#groups-dir-list, .mygroups {
    .hidden {
        display: block !important
    }
}
// buddypress wants to hide hidden groups everywhere
.bp_members, .bp-user {
	#groups-list {
		.bp-single-group.hidden, .item-entry.hidden {
			display: block !important;
		}
	}
}
.groups-header {

	.bp-group-meta {
		.group-type {
			background: $color-red;
			color: #fff;
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
	.group-subscription-div, .group-item-actions#item-actions {
		display: none !important;
	}
	.item-meta [id^=ges-panel], .last-activity {
		display: none;
	}
}
body #buddypress .bp-list.members-list .action {
	display: flex;
	gap: 10px;
	margin-top: 10px;
	&> div { flex: 45%; }
	.generic-button button, a.send-message {
		color: #fff !important;
		background: $color-blue !important;
		border: solid $color-blue 1px;
		border-radius: 5px !important;
		padding: 8px 3px;
		font-size: 16px;
		line-height: 16px;
		height: 40px;
		width: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		&:hover {
			color: $color-blue !important;
			background: #fff !important;
		}
	}
}
.groups {
	ul#members-list {
		li {
			.list-wrap-inner {
				margin-bottom: 15px;
			}
			.member-button-wrap {
				.friendship-button.generic-button {
					.friendship-button {
						color: #666 !important;
						width: 100%;
						display: flex;
						justify-content: center;
					}
				}
			}
		}
	}
}
#groups-list.groups-list {
	.groups-loop-buttons { display: none; }
	li.item-entry .list-wrap {
		padding: 15px;
		.bs-group-cover {
			margin: -15px -15px 5px;
			position: relative;
			a {
				border-radius: 3px 3px 0 0;
				position: relative;
				overflow: hidden;
				padding-top: 52.56%;
				display: block;
				background: #607487;
				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					z-index: 0;
					min-height: 100%;
					width: auto;
					min-width: 100%;
					object-fit: cover;
					image-rendering: -webkit-optimize-contrast;
				}
			}
		}
		.item {
			padding-bottom: 25px;
		}
		.group-item-wrap {
			.item-meta-wrap {
				.last-activity { display: none !important; }
			}
			.group-details { display: flex; }
		}
		.group-footer-wrap  {
			position: relative;
			left: 0px;
			display: flex;
			flex-direction: column;
			align-items: start;
			margin: 0px;
    		margin-top: auto;
			.footer-button-wrap {
				width: 100%;
				.groups-meta {
					display: flex;
					margin-top: 10px;
					align-items: end;
					.group-subscription-status {
						font-size: 14px;
					}
					.generic-button {
						flex: 1;
						max-width: fit-content;
					}
					.group-subscription-div  {
						button {
							min-height: 10px;
							padding: 4px 20px !important;
							border: solid 1px $color-blue;
						}
					}
				}
			}
		}
	}
}
.subnav-search.groups-search {
    margin: -10px 15px 20px;
    float: none;
}
#bp-media-uploader .modal-container {
    position: inherit;
}
.groups {
    .bp-manage-group-container {
        #group-settings-form {
            .bp-controls-wrap { display: none; }
        }
		#group-course-settings-groups-li, #courses-groups-li {
			display: none;
		}
    }
    &.group-hidden, &.group-private {
        &:not(.my-group) {
            #invite-groups-li {
                display: none;
            }
        }
    }
	// don't let facilitators to maker campus groups invite more users
	&.group-type-maker-campus {
		&:not(.admin-bar) {
			#invite-groups-li {
                display: none;
            }
		}
	}
	@media screen and (max-width:800px) {
		.bb-grid { margin: 0px; }
	}
	.groups-manage-members-list .members-manage-buttons .button {
		font-size: 16px !important;
	}
}
.groups.bp-user {
	@media screen and (max-width:800px) {
		.bb-grid.site-content-grid { margin: 0px -10px; }
	}
}
.bb-album-content-wrap {
	h4 { color: #fff; }
}


// only admins get to set group types
body:not(.admin-bar) {
    #create-group-form {
        .group-create-types { display: none; }
    }
}



button.ges-change, button.ges-change:hover {
    padding: 10px 20px !important;
}

.bs-styled-radio + .bb-radio-label, .bs-styled-radio + label {
    display: flex;
    align-items: center;
    &::before {
        left: -20px;
        margin-right: -10px;
    }
}

/* makerspace information */
.ms_info .fieldLabel {
    font-weight:bold;

}
.ms_info .fieldData {
    padding: 10px;
}
.ms_info .fieldInfo {
    margin: 10px;
}

.bb-footer, .site-content, .site-header {
    padding: 0px;
}

/* blue toad digital library page */
.page-template-page-digital-library {
	#page {
		padding: 0px !important;
		#content {
			padding-left: 0px;
			.container {
				padding: 0px;
				width: 100%;
				#page-content.bluetoad {
					padding: 0px;
				}
			 }
		}
	}
	.bb-onscreen-notification-enable {
		display: none;
	}
}
#page-content.bluetoad  {
	iframe{
	    width: calc(100vw - 68px);
	    height: calc(100vh - 120px);
	    border: none;
	    margin-bottom: -10px;
		@media screen and (max-width: 800px) {
			width: 100vw;
		}
	}
}

// buddypanel
.buddypanel-open {
	#page-content.bluetoad iframe{
		width: calc(100vw - 230px);
	}
}

/* Learn Dash */
/* Hide topic list on non mobile sites only */
@media screen and (min-width: 768px) {
    .lesson-page .ld-topic-list, .lesson-page > #learndash-course-header,
    .sfwd-lessons .bb-ld-info-bar,
    .topic-page .bb-ld-info-bar,
    .sfwd-lessons .bb-position,
    .topic-page .bb-position,
    .sfwd-lessons .sfwd-course-nav,
    .topic-page .sfwd-course-nav,
    .sfwd-lessons .ld-progress,
    .topic-page .ld-progress,
    .sfwd-lessons .ld-content-actions,
    .topic-page .ld-content-actions,
    .sfwd-lessons .lms-header-instructor,
    .topic-page .lms-header-instructor {
        display: none;
    }
}

/* remove padding on learndash content for non mobile viewing */
@media screen and (min-width: 768px) {
    .learndash-page-content {
        padding: 30px 30px 0;
    }
}

// Profile pages
.profile.buddypress, .my-account.buddypress {
    .item-header-wrap {
        .item-meta {
            .separator, .activity { display: none; }
        }
    }
    .buddypress-wrap#buddypress {
        .member-header-actions {
            .generic-button a {
                border-radius: 2px;
            }
        }
    }
	#learndash_profile {
		.learndash-course-status, .learndash-course-certificate { display: none; }
	}
	// rename I wish to rename anonymous checkbox
	.field_i-wish-to-remain-anonymous-and-opt-out-of-the-member-directory {
		.option-label {
			visibility: hidden;
			&:before {
				visibility: visible;
				margin-right: 0px;
			}
			&:after {
				visibility: visible;
				content: "Yes";
			}
		}
	}
}

// Makerspace dir Page
.page-members-type-makerspaces {
    h1.entry-title::after {
        content: ": Makerspaces";
    }
}
.directory {
	.members-type-navs {
		#members-group_leader, #members-student { display: none;}
	}
    .dir-list {
        .grid.bp-list > li {
            flex: 0 0 25%;
            max-width: 25%;
			min-width: auto !important;
            @media screen and (max-width: 1460px) {
                flex: 0 0 33%;
                max-width: 33%;
            }
            @media screen and (max-width: 1200px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @media screen and (max-width: 768px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @media screen and (max-width: 480px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
			button.friendship-button, a.friendship-button {
				color: #fff !important;
				padding: 5px 10px !important;
				border: solid 1px $color-blue !important;
				&:hover {
					color: $color-blue !important;
				}
			}
			#send-private-message a {
				background: none;
			}
			.members-meta.action > .generic-button:last-child a, .members-meta.action > .generic-button:last-child button {
				margin-left: 0px;
			}
        }
    }
    #secondary {
        flex: 0 0 300px;
        max-width: 300px;
    }
}

// pdf and media download button
.bb-media-info-section a.download-media, #buddypress.bb-media-model-wrapper.document-theatre .activity-list.bp-list .download-document{
	background: $color-blue !important;
	color: #fff;
	font-weight: bold;
}
.bb-media-info-section a.download-media {
	padding-bottom: 25px !important;
}

// buddyboss MODALS
.mfp-wrap .modal-container {
	position: relative;
}

// nobody needs to know when I was last on the notification page
.member-request-list-wrap .last-activity { display: none; }

// Profile Page
.bp-user {
	#blogs-personal-li { display: none; }
	.main-navs {
		#messages-personal-li, #notifications-personal-li{
			width: auto !important;
			display: flex !important;
		}
	}
	&:not(.my-account) {
		#facilitator-portal-personal-li { display: none; }
	}
}

// messages
#buddypress .message-action-delete, #buddypress .message_action__anchor {
	font-size: 16px;
}

// Member directory
#members-list {
	.item-avatar img {
		min-width: 126px;
	}
	// hide last activity
	.last-activity { display: none; }
	.bp-generic-meta .generic-button {
		margin-right: 0px !important;
	}
}
