.has-sidebar:not(.profile-sidebar):not(.group-sidebar):not(.llms-pointer) #primary, body.buddypress.has-sidebar:not(.profile-sidebar):not(.group-sidebar):not(.llms-pointer) #page #primary {
	max-width: none;
}

// Everything from buddyboss that we have to override with Roboto Font
.bb-custom-typo h1, .bb-custom-typo .h1, .bb-custom-typo h2, .bb-custom-typo .h2, .bb-custom-typo h3, .bb-custom-typo .h3, .bb-custom-typo h4, .bb-custom-typo .h4, .bb-custom-typo h5, .bb-custom-typo .h5, .bb-custom-typo h6, .bb-custom-typo .h6, .bb-custom-typo .bb-course-footer, .bb-custom-typo .ld-table-list-header .ld-text, .bb-custom-typo .gamipress-achievement-points { 
	font-family: 'Roboto';
	color: #333;
	font-weight: 300;
}

.subnav-search.groups-search {
	margin: -10px 15px 20px;
	float: none;
}

.bs-styled-radio + .bb-radio-label, .bs-styled-radio + label {
	display: flex;
	align-items: center;
	&::before {
		left: -20px;
		margin-right: -10px;
	}
}

/* makerspace information */
.ms_info .fieldLabel {
    font-weight:bold;

}
.ms_info .fieldData {
    padding: 10px;
}
.ms_info .fieldInfo {
    margin: 10px;
}

.bb-footer, .site-content, .site-header {
    padding: 0px;
}

/* blue toad digital library page */
#page-content.bluetoad iframe{
    width: 100%;
    height: 100vh;
    border: none;
    margin-bottom: -10px;
    padding-bottom: 150px;
}

/* Learn Dash */
/* Hide topic list on non mobile sites only */
 @media screen and (min-width: 768px) {
     .lesson-page .ld-topic-list, .lesson-page > #learndash-course-header, 
     .sfwd-lessons .bb-ld-info-bar, 
     .topic-page .bb-ld-info-bar, 
     .sfwd-lessons .bb-position,
     .topic-page .bb-position,
     .sfwd-lessons .sfwd-course-nav,
     .topic-page .sfwd-course-nav,
     .sfwd-lessons .ld-progress, 
     .topic-page .ld-progress, 
     .sfwd-lessons .ld-content-actions,
     .topic-page .ld-content-actions,
     .sfwd-lessons .lms-header-instructor, 
     .topic-page .lms-header-instructor {
         display: none;
     }
 }
 
 /* remove padding on learndash content for non mobile viewing */
@media screen and (min-width: 768px) {
    .learndash-page-content {
        padding: 30px 30px 0;
    }
}
