/* make buddypress pages full width */
.buddypress, .home-page {
    .site-content .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}
.has-sidebar:not(.profile-sidebar):not(.group-sidebar):not(.llms-pointer) #primary, body.buddypress.has-sidebar:not(.profile-sidebar):not(.group-sidebar):not(.llms-pointer) #page #primary {
    max-width: 100%;
}

// no sign up, we have ump for that
.bb-header-buttons {
    .button.singup {
        display: none;
    }
}

// Everything from buddyboss that we have to override with Roboto Font
.bb-custom-typo h1, .bb-custom-typo .h1, .bb-custom-typo h2, .bb-custom-typo .h2, .bb-custom-typo h3, .bb-custom-typo .h3, .bb-custom-typo h4, .bb-custom-typo .h4, .bb-custom-typo h5, .bb-custom-typo .h5, .bb-custom-typo h6, .bb-custom-typo .h6, .bb-custom-typo .bb-course-footer, .bb-custom-typo .ld-table-list-header .ld-text, .bb-custom-typo .gamipress-achievement-points {
    font-family: 'Roboto';
    color: #333;
    font-weight: 600;
}

///////////// GROUPS //////////////////

//show hidden groups if you're a member
#groups-dir-list, .mygroups {
    .hidden {
        display: block !important
    }
}
// buddypress wants to hide hidden groups everywhere
.bp_members, .bp-user {
	#groups-list {
		.bp-single-group.hidden, .item-entry.hidden {
			display: block !important;
		}
	}
}
.groups-header {
	.group-subscription-div, .group-item-actions#item-actions {
		display: none;
	}
}
.groups-list {
	.groups-loop-buttons { display: none; }
}
.subnav-search.groups-search {
    margin: -10px 15px 20px;
    float: none;
}
#bp-media-uploader .modal-container {
    position: inherit;
}
.groups {
    .bp-manage-group-container {
        #group-settings-form {
            .bp-controls-wrap { display: none; }
        }
    }
    &.group-hidden, &.group-private {
        &:not(.my-group) {
            #invite-groups-li {
                display: none;
            }
        }
    }
	// don't let facilitators to maker campus groups invite more users
	&.group-type-maker-campus {
		&:not(.admin-bar) {
			#invite-groups-li {
                display: none;
            }
		}
	}
	@media screen and (max-width:800px) {
		.bb-grid { margin: 0px; }
	}
}
.groups.bp-user {
	@media screen and (max-width:800px) {
		.bb-grid.site-content-grid { margin: 0px -10px; }
	}
}
.bb-album-content-wrap {
	h4 { color: #fff; }
}


// only admins get to set group types
body:not(.admin-bar) {
    #create-group-form {
        .group-create-types { display: none; }
    }
}



button.ges-change, button.ges-change:hover {
    padding: 10px 20px !important;
}

.bs-styled-radio + .bb-radio-label, .bs-styled-radio + label {
    display: flex;
    align-items: center;
    &::before {
        left: -20px;
        margin-right: -10px;
    }
}

/* makerspace information */
.ms_info .fieldLabel {
    font-weight:bold;

}
.ms_info .fieldData {
    padding: 10px;
}
.ms_info .fieldInfo {
    margin: 10px;
}

.bb-footer, .site-content, .site-header {
    padding: 0px;
}

/* blue toad digital library page */
.page-template-page-digital-library {
	#page #content {
		padding-left: 0px;
		.container {
			padding: 0px;
			width: 100%;
		 }
	}
	.bb-onscreen-notification-enable {
		display: none;
	}
}
#page-content.bluetoad iframe{
    width: 90vw;
    height: 100vh;
    border: none;
    margin-bottom: -10px;
	@media screen and (max-width: 800px) {
		width: 100vw;
	}
}

/* Learn Dash */
/* Hide topic list on non mobile sites only */
@media screen and (min-width: 768px) {
    .lesson-page .ld-topic-list, .lesson-page > #learndash-course-header,
    .sfwd-lessons .bb-ld-info-bar,
    .topic-page .bb-ld-info-bar,
    .sfwd-lessons .bb-position,
    .topic-page .bb-position,
    .sfwd-lessons .sfwd-course-nav,
    .topic-page .sfwd-course-nav,
    .sfwd-lessons .ld-progress,
    .topic-page .ld-progress,
    .sfwd-lessons .ld-content-actions,
    .topic-page .ld-content-actions,
    .sfwd-lessons .lms-header-instructor,
    .topic-page .lms-header-instructor {
        display: none;
    }
}

/* remove padding on learndash content for non mobile viewing */
@media screen and (min-width: 768px) {
    .learndash-page-content {
        padding: 30px 30px 0;
    }
}

// Profile pages
.profile.buddypress, .my-account.buddypress {
    .item-header-wrap {
        .item-meta {
            .separator, .activity { display: none; }
        }
    }
    .buddypress-wrap#buddypress {
        .member-header-actions {
            .generic-button a {
                border-radius: 2px;
            }
        }
    }
}

// Makerspace dir Page
.page-members-type-makerspaces {
    h1.entry-title::after {
        content: ": Makerspaces";
    }
}
.directory {
	.members-type-navs {
		#members-group_leader, #members-student { display: none;}
	}
    .dir-list {
        .grid.bp-list > li {
            flex: 0 0 20%;
            max-width: 20%;
            @media screen and (max-width: 1500px) {
                flex: 0 0 25%;
                max-width: 25%;
            }
            @media screen and (max-width: 1200px) {
                flex: 0 0 33%;
                max-width: 33%;
            }
            @media screen and (max-width: 981px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @media screen and (max-width: 768px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @media screen and (max-width: 480px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    #secondary {
        flex: 0 0 300px;
        max-width: 300px;
    }
}

// pdf and media download button
.bb-media-info-section a.download-media, #buddypress.bb-media-model-wrapper.document-theatre .activity-list.bp-list .download-document{
	background: $color-blue !important;
	color: #fff;
	font-weight: bold;
}
.bb-media-info-section a.download-media {
	padding-bottom: 25px !important;
}

// buddyboss MODALS
.mfp-wrap .modal-container {
	position: relative;
}

// nobody needs to know when I was last on the notification page
.member-request-list-wrap .last-activity { display: none; }

// Profile Page
.bp-user {
	#blogs-personal-li { display: none; }
	.main-navs {
		#messages-personal-li, #notifications-personal-li{
			width: auto !important;
			display: flex !important;
		}
	}
	&:not(.my-account) {
		#facilitator-portal-personal-li { display: none; }
	}
}
