// Maker faire dashboard
.makerfaire_info {
    h2 a {
        text-align: center;
        margin: 0 auto;
        display: flex;
        max-width: 340px;
        font-size: 20px;
    }
}

.membership-card {
    background: $color-grey;
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 15px;
	h3 { color: #fff; }
    label {
        color: $color-red;
        font-size: 17px;
    }
	img {
		border: 0px;
		border-radius: 0px;
		max-width: 120px;
		margin-bottom: 10px;
	}
}


.ee-my-events-event-section-summary-row td {
    padding: 10px 0px;
}

// makercamp class dashboard
.ld-course-list-items .ld_course_grid {
	margin-bottom: 30px;
	.course {
		display: flex;
    	flex-direction: column;
		height: 100%;
		.caption {
			flex-grow: 1;
			display: flex;
            flex-direction: column;
			.ld_course_grid_button {
				margin-top: auto !important;
			}
		}
		.ld_course_grid_price {
			height: 30px;
			display: flex;
			align-items: center;
			width: 100px;
			position: absolute;
			justify-content: center;
			right: 20px;
			color: #fff;
			&::before {
				content: "";
				position: absolute;
				border-style: solid;
				border-color: #8ff transparent transparent transparent;
				left: -10px;
				border-width: 22px 0 0 21px;
				top: 4px;
				transform: rotate(225deg);
			}
		}
		.lds-meta-item {
			display: none;
		}
	}
}
