.events-list {
	article {
		background: #fff;
		padding: 20px 25px;
		margin-bottom: 15px;
		border: solid 1px $color-light-grey;
		border-radius: 4px;
		display: flex;
		.event-truncated-date {
			display: flex;
			flex-direction: column;
			margin-right: 20px;
			text-align: center;
		}
		.event-image a {
			img {
				min-width: 150px;
			}
		}
		.event-info {
			margin: 0px 20px;
			.event-title {
				margin-top: 10px;
				a { color: #333; }
			}
			.event-time-desc {
				font-weight: bold;
			}
		}
		.event-prices {
			margin-top: 10px;
			.btn { margin-right: 15px; }
		}
	}
}

.page-template-page-espresso_events-list {
	.page-header, .page-header h1 {
		margin-top: 0px;
	}
	#secondary {
		.event-view-btns {
			text-align: right;
			position: relative;
			top: 0px;
		}
		.event-listing-widget-item:first-child {
			margin-bottom: 30px;
		}
		.event-listing-widget-item:not(:first-child) {
			border: solid 1px $color-light-grey;
			border-radius: 2px;
			padding: 5px 15px;
			background: #fff;
			margin-top: 15px;
			.mx-block-title {
				text-align: left;
				border-bottom: solid 1px $border-color;
				font-size: 20px;
				padding-bottom: 10px;
				a { color: $color-grey; }
			}
		}
	}
	@media screen and (max-width: 1060px) {
		#primary, #secondary {
			width: 100%;
			min-width: 97%;
		}
	}
}