.single-espresso_events {
    h1.entry-title { 
        color: #000;
        font-weight: 700;
        font-size: 2.5em;
        margin-bottom: 10px;
		text-align: center;
    }
    .gallery-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        width: 100%;
        .psgal {
            display: flex;
            justify-content: center;
            width: auto !important;
            max-height: 400px;
            .msnry_item {
                width: 28%;
                height: 400px;
                display: none;
                position: relative !important;
                top: inherit !important;
                left: inherit !important;
                a {
                    border-radius: 10px;
                    overflow: hidden;
                    height: 100%;
                    img {
                        object-fit: cover;
                        height: 100%;
                        min-height: -moz-available;
                        min-height: -webkit-fill-available; 
                        min-height: fill-available;
                        width: 100%;
                    }
                }
                &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) { display: inline-block; }
                &:nth-of-type(2), &:nth-of-type(3) {
                    width: 16%;
                    height: 200px;
                }
                &:nth-of-type(3) {
                    margin-top: 200px;
                    margin-left: -16%;
                }
                &:nth-of-type(4) {
                    top: 0px !important;
                }
                &:nth-of-type(5) {
                    top: 0px !important;
                    left: auto !important;
                    right: 0px;
                }
                @media screen and (max-width: 992px) {
                    height: 350px;
                    width: 40%;
                    &:nth-of-type(2), &:nth-of-type(3) {
                        height: 175px;
                        width: 20%;
                    }
                    &:nth-of-type(3) {
                        margin-top: 0px;
                        margin-left: 0%;
                    }
                    &:nth-of-type(4) {
                        margin-left: auto;
                        right: 0px;
                    }
                    &:nth-of-type(5) { display: none; }
                }
                @media screen and (max-width: 768px) {
                    height: 300px;
                    width: 65%;
                    &:nth-of-type(2), &:nth-of-type(3) {
                        height: 150px;
                        width: 35%;
                        top: 0px !important;
                        right: 0px;
                        left: auto !important;
                    }
                    &:nth-of-type(3) {
                        margin-top: 150px;
                        margin-left: -35%;
                    }
                    &:nth-of-type(4) { display: none; }
                }
                @media screen and (max-width: 480px) {
                    height: 200px;
                    width: 100%;
                    &:nth-of-type(2), &:nth-of-type(3) {
                        display: none;
                    }
                }
            }

        }
        #showAllGallery {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

    .entry-content {
        .event-datetimes {
            text-align: center;
            h2 { font-weight: normal; }
            .event-time-desc {
                a { 
                    display: block;
                    margin-bottom: 20px; 
                }
            }
            .ee-event-datetimes-ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .ee-event-datetimes-li {
                    flex: 50%;
                    padding-top: 10px;
                    span { 
                        font-size: 20px;
                        &.dashicons {
                            margin-top: -5px;
                        }
                        &.ee-event-datetimes-li-daterange {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
        .event-content {
			.row {
				display: flex;
				flex-direction: row;
				@media screen and (max-width: 768px) {
					flex-direction: column;
					order: 2;
					.event-main-content {
						order: 2;
					}
				}
			}
            .event-main-content {
                display: flex;
                flex-direction: column;
                &> div {
                    border-bottom: solid 1px #ccc;
                    padding-bottom: 15px;
                    &:nth-last-of-type(2) {
                        flex-grow: 1;
                    }
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
                .event-cat {
                    border-top: solid 1px $border-color;
                    padding-top: 15px;
                    div { display: none; }
                    a{
                        color: #333;
                        text-transform: uppercase;
                        font-family: "Roboto Bold";
                        &::before {
                            font-family: "FontAwesome";
                            content: "\f0ac";
                            margin-right: 5px;
                        }
                        &[href*="online"]::before {
                            content: "\f26c";
                        }
                        &[href*="demonstration"]::before {
                            content: "\f51c";
                        }
                    }
                }
                .tribe-events-single-event-materials {
                    .materials-list {
                        font-weight: bold;
                    }
                    .btn {
                        margin-top: 10px;
                    }
                }
                .event-promo-video {
                    .entry-video { margin-top: -15px; }
                }
                ul li {
                    margin-bottom: 5px;
                }
                h4.eea-people-addon-people-type-label{
                    display: none;
                }
				.btn {
					text-transform: capitalize;
				}
            }
            .event-sidebar-content {
                .event-sidebar-item {
                    margin: 0px;
                    box-shadow: rgba(0,0,0,0.12) 0px 6px 16px;
                    border: 1px solid #005e9a;
                    background: #fff;
                    border-radius: 5px;
                    font-size: 16px;
                    margin-bottom: 30px;
                    min-width: 100%;
                    padding: 0px 15px;
                    .event-sidebar-field {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        margin-top: -5px;
                        margin-bottom: 10px;
                        min-height: 30px;
                        b { margin-right: 10px; }
                        span.age-item {
                            border: solid 1px #ccc;
                            border-radius: 15px;
                            padding: 3px 5px;
                            white-space: nowrap;
                            margin: 5px;
                        }
                        ul { 
                            list-style: none;
                            margin-bottom: 0px;
                            margin-left: 0px;
                        }
                        .event-categories-wrap {
                            clear: both;
                            visibility: hidden;
                            display: flex;
                            flex-wrap: wrap;
                            a {
                                background-color: #fff;
                                color: #005e9a;
                                font-size: 14px;
                                border: 1px solid #005e9a;
                                border-radius: 20px;
                                padding: 0px 10px;
                                display: block;
                                margin: 5px;
								margin-left: 0px;
                                visibility: visible;
                                line-height: 25px;
                                &:hover {
                                    background-color: #005e9a;
                                    color: #fff;
									text-decoration: none;
                                }
                            }
                        }
                        &.event-date {
                            display: block;
                            margin-bottom: 15px;
                            .ticket-detail {
                                margin-top: 5px;
                                .ticket-detail-name {
                                    b { text-decoration: underline; }
                                    .tickets-remaining { color: $color-red; }
                                }
                                ul { 
									margin-bottom: 5px;
									li {
										p { margin-bottom: 0px}
									}
								}
                            }
                        }
                    }
                }
            }
        }
        .event-tickets { display: none; }
        .eea-people-addon-event-people-list-single {
            .eea-people-addon-people-list-ul {
                list-style: none;
                margin-left: 0px;
                li {
                    border: 1px solid #005e9a;
                    background: #fff;
                    padding: 10px 15px;
                    border-radius: 5px;
                    .eea-people-addon-link-to-person { font-size: 20px; }
                }
            }
        }
    }
}

.events-back {
    position: relative;
    margin-bottom: -20px;
    top: -20px;
    left: -30px;
    a.btn { 
        font-size: 1.2em;
        font-weight: bold;
    }
    @media screen and (max-width: 768px) {
        left: -20px;
    }
}

.event-view-btns {
    position: absolute;
    top: -8px;
    right: 0px;
    a {
        font-size: 28px;
        color: #333;
        padding: 5px;
    }
    @media screen and (max-width: 768px) {
        position: relative;
        text-align: center
    }
}

// Ticket Selector
.tkt-slctr-tbl {
    td, th { 
        padding: 5px 0;
		text-align: left;
    }
    strong { display: block; }
    a { margin-left: 0px; }
	.display-tckt-slctr-tkt-details {
		.tckt-slctr-tkt-details-tr {
			.tckt-slctr-tkt-details-tbl {
				th, td {
					display: none;
					&:nth-child(1), &:nth-child(2) {
						display: table-cell;
					}
				}
			}
			.ticket-details-label-spn { width: auto; }
			.dashicons { margin-right: 0px; }
		}
	}
	.ticket-selector-tbl-qty-slct {
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}



// Event Statuses
.ee-status { 
    position: absolute;
    right: 0px;
    top: -20px;
}
.ee-status.event-active-status-DTS { background-color: $color-grey; } // sold out
.ee-status.event-active-status-DTA { background-color: $color-light-blue; } // active
.ee-status.event-active-status-DTU { background-color: $color-light-blue; } // upcoming
.ee-status.event-active-status-DTP { background-color: $color-grey; } // postponed
.ee-status.event-active-status-DTC { background-color: $color-red; } // canceled
.ee-status.event-active-status-DTE { background-color: $color-red; } // expired
.ee-status.event-active-status-DTI { background-color: $color-grey; } // inactive

.dashboard .espresso-my-events-table tr {
    td.event-status-DTU, td.event-status-DTA { color: $color-light-blue; }
    td.event-status-DTC, .td.event-status-DTP { color: $color-red; }
    td.event-status-DTS, td.event-status-DTI, td.event-status-DTE { color: $color-grey; }
}
