@media screen and (max-width: 767px) {
	h1, .entry-title { font-size: 2.6em; margin-top: 45px; } 
}

b, strong {
	font-family: "Roboto Bold";
}

figure {
	margin: 0px;
}

.nav-hamburger {
    right: auto;
    left: 80px;
}

// overwrite the jquery styling
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
	color: #333;
}

/* make header 100% of the page */
#masthead .container {
    width: 100% !important;
}

/* make pages full width */
.site-content .container {
    width: 100%;
    max-width: none;
    padding: 0;
}

.full-width-div {
	width: 100vw !important;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw !important;
	margin-right: -50vw !important;
	&.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 100%;
		.elementor-row > .elementor-column > .elementor-column-wrap {
			padding: 0px;
		}
	}
}

.social-links {
	margin-left: 20px;
	margin-top: 15px;
	a {
		visibility: hidden;
		font-size: 24px;
		&::before {
			font-family: FontAwesome;
			visibility: visible;
		}
		&[href*="facebook"]::before {
			content: "\f09a";
			color: #3b5998;
		}
		&[href*="twitter"]::before {
			content: "\f099";
			color: #1da1f2;
		}
		&[href*="instagram"]::before {
			content: "\f16d";
			color: #e1306c;
		}
		&[href*="youtube"]::before {
			content: "\f167";
			color: #ff0000;
		}
		&[href*="linkedin"]::before {
			content: "\f08c";
			color: #0077b5;
		}
		&[href*="snapchat"]::before {
			content: "\f2ab";
			color: #fffc00''
		}
	}
}

body.admin-bar {
	.navbar.navbar-fixed-top, .navbar.navbar-fixed-top.slide-active  {
		margin-top: 32px;
	}
}

button, input[type="submit"] {
	color: #1987C7;
	border: thin solid #1987C7;
	padding: 10px 30px;
	background-color: #fff;
	&:hover, &:active, &:focus {
		background-color: #1987C7;
		color: #fff;
	}
}

// Youtube responsiveness for Jetpack shortcode
.embed-youtube,
.embed-vimeo,
.googlemaps {
	overflow: hidden;
	padding-bottom: 56.25%;
	margin-bottom: 15px;
	position: relative;
	height: 0;
}

.embed-youtube iframe,
.embed-vimeo iframe,
.googlemaps iframe,
.embed-resp object {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

//Youtube Fancybox modal shortcode [youtube-modal]
.fancytube {
  position: relative;
  display: block;
  i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//Fancybox modal overrides
.fancybox-close {
  background-image: none !important;
  text-align: center;
  top: 0 !important;
  right: 0 !important;
  &:hover {
    text-decoration: none;
  }
  &:before {
    font-family: FontAwesome;
    content: '\f00d';
    color: #4a4a4a;
    display: inline-block;
    font-size: 18px;
    padding-top: 6px;
  }
}

.fancybox-overlay {
  background: rgba(255, 255, 255, 0.5) !important;
}

// Safari only
.safari-mac {
	.row {
		display: flex;
	}
	.row:before, .row:after {
		display: none;
	}
}