.tax-espresso_people_type {
	.page-header {
		margin-top: 0px;
		.page-title {
			visibility: hidden;
			margin-top: 0px;
			span { 
				visibility: visible;
				margin-left: -150px;
			}
		}
	}
	
	article {
		.post-inner-wrap {
			display: flex;
			img { margin: 30px; }
		}
	}
}

.single-espresso_people {
	.host-wrapper {
		margin-top: 30px;
		border: 1px solid #d5d5d5;
		border-radisu: 3px;
		margin-bottom: 40px;
		padding: 32px;
		display: flex;
		flex-wrap: wrap;
		background: #fff;
		@media screen and (max-width: 600px) {
			flex-direction: column;
		}
		.host-photo {
			height: 150px;
			width: 150px;
			min-width: 150px;
			float: left;
			margin-right: 30px;
			@media screen  and (max-width: 768px) {
				float: none;
				margin: 0px auto 10px;
			}
			img {
				height: 150px;
				width: 150px;
				object-fit: cover;
			}
		}
		.social-links {
			margin: 10px 0px;
			display: flex;
			align-items: center;
			b { margin-right: 15px; }
		}
		.host-meta {
			flex-direction: row;
			h1 { 
				text-align: left;
				font-weight: 600;
			}
		}
		.host-bio {
			line-height: 16px;
			ol { list-style: decimal; }
			ul { list-style: disc; }
			ol, ul { 
				padding-top: 15px;
				padding-left: 30px; 
				br { display: none; }
			}
			a { 
				color: #337ab7;
				&:hover { color: #23527c; }
			}
		}
		.fas { margin-left: auto; }
	}
	.host-events {
		h2 { 
			font-weight: $font-bold;
			background: $color-navy;
			padding: 10px 15px;
			color: #fff;
			border-radius: 4px;
		}
		.events-list {
			article {
				border: 1px solid #d5d5d5;
				.event-image {
					position: relative;
					.event-truncated-date {
						position: absolute;
						bottom: 0px;
						background: #fff;
						padding: 8px 14px;
						border-radius: 0px 10px 0px 0px;
						color: $color-red;
						font-weight: bold;
						text-transform: uppercase;
						line-height: 20px;
						b { 
							color: $color-light-blue;
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}