.item-grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	.item-wrapper {
		width: 20%;
		height: 360px;
		margin-bottom: 1.5em;
		@media (min-width:1099px) and (max-width:1399px) {
			width: 25%;
			height: 360px;
		}
		@media (min-width:768px) and (max-width:1099px) {
			width: 33.33333%;
			height: 340px;
		}
		@media (max-width:767px) {
			width: 50%;
			height: 360px;
		}
		@media (max-width:500px) {
			width: 50%;
			height: 360px;
		}
		a {
			display: block;
			margin: 1rem 1rem 0;
			color: #363636;
			height: 100%;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(192,191,191,.35);
				opacity: 0;
				-webkit-transition: all .35s;
				transition: all .35s;
			}
			&:hover{
				-webkit-transform: scale(1.015);
				transform: scale(1.015);
				-webkit-box-shadow: 0 5px 15px -1px rgba(98,98,98,.44);
				box-shadow: 0 5px 15px -1px rgba(98,98,98,.44);
				text-decoration: none;
				&::after {
					opacity: 1;
				}
				article.item-article .item-image .item-description {
					display: block;
				}
			}
			article.item-article {
				background-color: #fff;
				position: relative;
				font-family: Roboto;
				-webkit-box-shadow: 0 2px 5px 0 hsla(0,0%,65.9%,.5);
				box-shadow: 0 2px 5px 0 hsla(0,0%,65.9%,.5);
				-webkit-transition: all .35s;
				transition: all .35s;
				width: 100%;
				height: 100%;
				.item-info {
					padding: 1.3rem 1.3rem 0;
					height: 35%;
					display: flex;
					flex-direction: column;
					.top-line{
						white-space: nowrap;
						font-size: 14px;
						overflow: hidden;
						width: 100%;
						text-overflow: ellipsis;
						letter-spacing: 0;
						.item-highlight {
							color: #00adee;
							font-weight: 500;
							margin-right: .25rem;
							float: left;
						}
						span {
							margin: 2.5px;
							color: #aaa;
							text-transform: capitalize;
							.group-name {
								display: inline-block;
								margin-right: 5px;
							}
						}
					}
					h3 {
						$lh: 20px;
						$max-lines: 4;
						margin: auto 0 ;
						overflow: hidden;
						word-break: break-word;
						color: #0a0a0a;
						font-weight: 600;
						font-size: 16px;
						line-height: $lh;
						position: relative;
						padding-right: 15px;
						max-height: calc($lh * $max-lines);
						&::before {
							content: "...";
							position: absolute;
							bottom: 0;
							right: 0;
							background: #fff;
						}
						&::after { // cover up the ellipsis for when max lines isn't exceeded
							content: "";
							position: absolute;
							right: 0;
							width: 1.5rem;
							height: 2rem;
							background: white;
						}
					}
					&:hover h3 {
						opacity: 1;
						transition: all 0.2s ease;
					}
				}
				.item-image {
					height: 65%;
					background-size: cover;
					background-position: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					.item-description {
						display: none;
						margin: 10px;
						padding: 10px;
						background: rgba(255, 255, 255, .6);
					}
				}
			}
		}
	}
}