/////////// JOIN PAGE //////////////////
.page-join {
    #primary {
        padding-top: 0px;
    }
    p { font-size: 18px; }
    .entry-header {
        background: url('../images/join-heros/5.png');
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 170%;
        margin-left: -35%;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        .header-text {
            margin: 15px;
            background: rgba(21, 23, 51,0.8);
            color: #fff;
            position: relative;
            max-width: 1170px;
            width: 80vw;
            left: 0px;
            padding: 15px;
            border-radius: 5px;
        }
        @media screen and (max-width: 768px) {
            height: 500px;
            .header-text {
                width: 100vw;
                h1 {
                    font-size: 1.8em;
                }
            }
        }
        h1, h4 {
            margin-top: 10px;
			margin-bottom: 15px;
            font-weight: 700;
            color: #fff;
            text-align: center;
        }
        .membership-btn {
            width: 95%;
            font-size: 32px;
            position: relative;
            margin: 30px 0;
            height: 90px;
            &:after {
                content: "$59.99";
                font-size: 42px;
                background: $color-blue;
                border-radius: 100px;
                color: #fff;
                position: absolute;
                right: -40px;
                top: -45px;
                height: 150px;
                display: flex;
                align-items: center;
                padding: 10px;
                @media screen and ( max-width: 540px ) {
                    font-size: 24px;
                    height: 90px;
                    top: -35px;
                    right: -20px;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .entry-content { padding: 15px; }
    }
	.disclaimer {
		font-size: 14px;
		margin-right: 15px;
		text-align: right;
	}

    .reader-services-wrapper {
        display: flex;
        margin-bottom: 20px;
        .reader-services-box {
            width: calc(1/3*100% - (1 - 1/3)*10px);
            margin: 0px 10px;
            background: #fff;
            border: solid 1px #ccc;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                font-size: 20px;
            }
            img { max-width: 160px; }
            .reader-services-details {
                font-size: 16px;
                padding-top: 10px;
                margin-top: auto;
                color: #333;
            }
        }
        .reader-services-box:first-of-type {
            img {
                max-width: 235px;
                width: 100%;
            }
        }
        @media screen and (max-width: 660px) {
            flex-direction: column;
            .reader-services-box {
                width: 100%;
                margin: 10px 0px;
            }
        }
    }

    .button-row {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        .membership-btn {
            width: 50%;
            margin: 0 15px;
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
           .membership-btn {
               width: 95%;
               margin-top: 10px;
           }
        }
    }

    .join-box {
        padding: 10px 20px 20px;
        border: solid 2px #151733;
        border-radius: 10px;
        min-height: 290px;
        margin-bottom: 15px;
        a { color:#fff; font-weight:bold; }
        h5, ul, p {
            position: relative;
            z-index: 1;
            color: #fff;
        }
        h5 {
            font-size: 22px;
        }
        &::after {
            content: "";
            opacity: .8;
            top: 0;
            left: 15px;
            bottom: 15px;
            right: 15px;
            position: absolute;
            z-index: 0;
            border-radius: 8px;
            min-height: 290px;
        }
    }
    .membership-benefits-box::after {
        background: url(../images/join-heros/2-muted.jpg);
        background-size: cover;
    }
    .membership-supports-box::after {
        background: url(../images/join-heros/4-muted.jpg);
        background-size: cover;
    }
    .corporate-membership-box {
        position: relative;
    }
    .corporate-membership-box::after {
        background: url(../images/join-heros/6-muted.jpg);
        background-size: cover;
        left: 0px;
        right: 0px;
        bottom: 0px;
        min-height: 225px;
    }
}

.page-register {
    h1 {
		text-align: center;
		&::before, &::after {
			display: block;
			visibility: visible;
		}
	}
	label.iump-labels-register { font-size: 18px; }
	.iump-form-line-register .iump-form-sublabel {
		font-size: 16px;
		font-weight: normal;
	}
	// school makerfaire registration
	&.lid-18 {
		h1 {
			visibility: hidden;
			&::before {
				content: "School Maker Faire Registration Fee";

			}
			&::after {
				content: url('../images/SchoolMakerFaire-logo-sm.jpg');
			}
		}
	}
	// Educator / Student
	&.lid-4 {
		h1 {
			visibility: hidden;
			&::before {
				content: "Educator/Student Membership Registration";
			}
		}
	}
	// Individual
	&.lid-5 {
		h1 {
			visibility: hidden;
			&::before {
				content: "Membership Registration";
			}
		}
	}
	// School / Makerspace
	&.lid-7 {
		h1 {
			visibility: hidden;
			&::before {
				content: "School/Makerspace Membership Registration";
			}
		}
	}
	// Make Projects School
	&.lid-15 {
		h1 {
			visibility: hidden;
			&::before {
				content: "School Membership Registration";
			}
		}
	}
	// Trial
	&.lid-17 {
		h1 {
			visibility: hidden;
			&::before {
				content: "Trial Membership Registration";
			}
		}
	}
	// Patron
	&.lid-8 {
		h1 {
			visibility: hidden;
			&::before {
				content: "Patron Membership Registration";
			}
		}
	}
	// Founder
	&.lid-9 {
		h1 {
			visibility: hidden;
			&::before {
				content: "Founder Membership Registration";
			}
		}
	}
	// Benefactor
	&.lid-10 {
		h1 {
			visibility: hidden;
			&::before {
				content: "Benefactor Membership Registration";
			}
		}
	}
}
