/* make buddypress pages full width */
.bb-follow-links {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    a i {
        font-size: 40px;
    }
}

.bb-learndash-banner::before {
	background: transparent;
	opacity: 0;
}

// margins for learn dash pages
.single-sfwd-lessons, .sfwd-courses-template, .post-type-archive-sfwd-courses, .learndash-cpt-sfwd-lessons {
	#page {
		.site-content > .container{
			width: 100%;
			@media screen and (max-width: 960px) {
				padding: 0px;
			}
			#learndash-page-content {
				padding: 30px 0px 0;
				.learndash_content_wrap {
					max-width: 100%;
					padding: 0px 30px;
				}
			}
		}
	}
}

/* Learn Dash */
/* Hide topic list on non mobile sites only */
@media screen and (min-width: 768px) {
    .lesson-page .ld-topic-list, .lesson-page > #learndash-course-header,
    .sfwd-lessons .bb-ld-info-bar,
    .topic-page .bb-ld-info-bar,
    .sfwd-lessons .bb-position,
    .topic-page .bb-position,
    .sfwd-lessons .sfwd-course-nav,
    .topic-page .sfwd-course-nav,
    .sfwd-lessons .ld-progress,
    .topic-page .ld-progress,
    .sfwd-lessons .ld-content-actions,
    .topic-page .ld-content-actions {
        display: none;
    }
}

/* remove padding on learndash content for non mobile viewing */
@media screen and (min-width: 768px) {
    .learndash-page-content {
        padding: 30px 30px 0;
    }
}


// Adventures grid page
.bb-course-items {
	.bb-card-course-details--hasAccess .bb-course-excerpt {
		display: block;
		color: #333;
		font-size: 16px;
		overflow: visible;
		max-height: inherit;
	}
	.bb-course-cover {
		.ld-status { display: none; }
	}
}
.post-type-archive-sfwd-courses {
	#courses-my-courses {
		span.count { display: none; }
	}
}

// Adventures page
.sfwd-courses-template, .learndash-cpt-sfwd-courses, .groups  {
	.ld-course-status, .bb-course-member-wrap { display: none !important; }
	.ld-lesson-list {
		.bb-course-meta {
			width: 100%;
			align-content: space-between;
			padding: 10px 20px 0px;
			margin-bottom: 0px;
		}
	}
	.ld-status-icon { display: none; }
	.ld-item-details {
		.lds-btn {
			width: 100%;
		}
	}
	a.ld-item-name {
		cursor: pointer;
		span, div {
			cursor: pointer;
		}
	}
	.btn-advance-start, .btn-advance {
		border-radius: 3px !important;
		border: 0px !important;
	}
}

// Lessons / Projects
.learndash-cpt-sfwd-lessons {
	.site-content {
		padding: 0px;
	}
	.lms-topic-sidebar-wrapper {
		z-index: 0;
		.lms-topic-sidebar-data {
			top: 138px !important;
		}
		.lms-course-members-list { display: none;}

	}
	.buddypanel { display: none; }
	.lms-topic-sidebar-data { left: 0px !important; }
	@media screen and (max-width: 767px) {
		#learndash-content .lms-topic-sidebar-wrapper {
			display: none;
		}
	}
	#learndash-course-header {
		.lms-header-title {
			max-width: 100%;
			padding: 0 30px;
		}
		@media screen and (max-width: 767px) {
			.lds-breadcrumb-meta, .bb-ld-info-bar {
				display: none;
			}
			.bb-position {
				padding: 0 15px;
			}
		}
	}
	// style the activities grid
	.learndash-wrapper.lds-template-grid-banner {
		.ld-table-list { overflow: visible; }
		.ld-table-list-items {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-start;
			margin-left: -30px;
			margin-right: -30px;
			border: 0px;
			.ld-table-list-item {
				margin: 0 1% 4% 1%;
				display: flex;
				flex-direction: column;
				flex-basis: 23%;
				width: 23%;
				border: 2px solid #e2e7ed;
				border-radius: 12px;
				background: #fff;
				@media screen and (max-width: 1350px) {
					flex-basis: 31%;
					width: 31%;
				}
				@media screen and (max-width: 1100px) {
					flex-basis: 48%;
					width: 48%;
				}
				@media screen and (max-width: 800px) {
					flex-basis: 100%;
					width: 100%;
				}
				.ld-table-list-item-preview {
					position: relative;
					padding: 0 0 20px 0;
					flex-direction: column;
					display: flex !important;
					flex-grow: 1;
					.lds-grid-banners-thumbnail {
						background: url("../img/placeholder-image.svg") #efefef center center no-repeat;
						margin: 0 0 20px 0;
						padding-top: 55%;
						position: relative;
						background-size: cover;
						width: 100%;
						display: block;
					}

					.ld-status-icon {
						margin-top: -33px;
						margin-left: 20px;
						box-shadow: 0 0 0 5px #fff;
						background: #fff;
						order: inherit;
						display: block;
					}
					.ld-topic-title {
						margin-left: 20px;
						margin-right: 20px;
						color: #4d646d;
						font-size: 16px;
						width: 90% !important;
						line-height: 18px;
						padding: 10px 0;
						order: 0;
					}
					.grid-actions {
						padding: 30px 20px 0;
						margin-top: auto;
					}

				}
			}
		}
	}
	.learndash-wrapper .ld-tabs .ld-tabs-navigation .ld-tab.ld-active {
		color: $color-light-blue !important;
		&::after {
			background: $color-light-blue !important;
		}
	}
	.bb-about-instructor {
		border: solid 1px #ccc;
		padding: 20px;
		border-radius: 3px;
		.bb-avatar-wrap {
			min-width: 120px;
			margin-right: 25px;
			img.avatar {
				min-width: 120px;
			}
		}
		h5 { margin-bottom: 15px; }
		.flex {
			align-items: start;
			@media screen and (max-width: 767px) {
				flex-direction: column;
				.bb-content-wrap {
					margin-top: 15px;
				}
			}
		}
	}
	.print-btn {
		width: calc(100% - 60px);
    	margin: 0px 30px 30px;
	}
}
// Use css to rewrite the materials tab to "Resources"
.ld-tab[data-ld-tab^="ld-tab-materials"] {
	.ld-text { display: none; }
	.ld-icon-materials {
		display: flex;
		align-items: center;
		&::after {
			content: "Resources";
			font-weight: 700;
			color: #728188;
			cursor: pointer;
			white-space: nowrap;
			font-family: Roboto;
			font-size: 14px;
			margin-left: 10px;
		}
	}
	&.ld-active {
		.ld-icon-materials::after {
			color: $color-light-blue;
		}
	}
}

// hide the category sort filter since it's redundant with search and filter in the sidebar
.sfwd-courses-filters {
	#sfwd_cats-order-by {
		display: none;
	}
}

.page-template-project-print-template {
	.print-materials-wrapper {
		background: #f1f1f1;
		margin: 20px 10px;
		padding: 15px 0px 10px;
		.print-materials {
			font-size: 24px;
			font-weight: bold;
			margin: 0 auto;
			max-width: fit-content;
			ul li { font-size: 18px; }
		}
	}
	.elementor-section-boxed {
		margin: 0 20px;
		.bb-about-instructor {
			border: solid 1px #ccc;
			border-radius: 5px;
			padding: 15px;
			margin-bottom: 15px;
			h5 { margin-bottom: 15px; }
		}
		.print-disclaimer {
			font-style: italic;
		}
	}
	.bb-avatar-wrap {
		min-width: 120px;
		margin-right: 25px;
		img.avatar {
			min-width: 120px;
		}
	}
}

.single-sfwd-courses .learndash-wrapper .bb-single-course-sidebar {
	.bb-course-preview-content {
		padding-top: 5px;
	}
	.ld-status {
		font-size: 16px;
		margin-top: 5px;
	}
	.learndash-stripe-checkout-button {
		font-size: 20px;
		margin-bottom: 15px;
		border-radius: 2px;
		&:hover { color: #fff; }
	 }
	 .bb-course-type-paynow {
		 font-size: 18px;
		 color: #333;
	 }
}
.ld-section-heading h2 {
	color: #fff;
	padding: 10px;
}
.lds-btn {
	display: flex;
	color: #fff !important;
	border-radius: 5px;
	padding: 10px 5px;
	&:hover {
		background-color: #fff !important;
		color: #333 !important;
	}
}

// EXCEPTIONS
body.cat-education {
	.learndash-wrapper {
		.btn-advance.ld-primary-background, .ld-section-heading, .lds-btn-primary, .lds-grid-banners-thumbnail, .btn-join {
			background-color: #07757A !important;
		}
	}
}
