.page-template-page-media-center {
	#media-center-page #tabs {
		display: flex;
		gap: 20px;
		@media screen and (max-width: 600px) {
			flex-wrap: column;
		}
		ul.nav {
			min-width: 250px;
			background: #fff;
			padding: 0px;
			li {
				border-bottom: solid 2px #fafbfd;
				a { color: #333; }
			}
		}
	}
	p { color: #333; }
	h2, h4{ margin-top: 0px; }
	h4 {
		font-size: 1.5em;
		text-align: left;
		margin-bottom: 10px;
	}
}
