.mpca-fat-bottom {
	margin-bottom: 15px;
}
#mpca_import_sub_accounts {
	#mpca_sub_accounts_csv {
		margin-bottom: 15px;
	}
}

.mepr-login-form-wrap { display: none; }

.memberpressproduct-premium-subscriber {
	.mp-form-row {
		.mepr_custom_field.mepr_mepr-address-one::after {
			content: "Address fields are required to receive Magazine subscription";
			padding: 10px;
			display: block;
			font-style: italic;
		}
	}
}

// Buddypress membership tab
.my-account.mp-membership.mp-info {
	h3 {
		margin: 15px 0;
	}
}
