.single-product {
	.woocommerce-breadcrumb {
		display: none;
	}
	.woocommerce #content div.product div.summary {
		padding: 2em 2.5% 0 2.5%;
	}
	#content div.product {
		form.cart {
			button.single_add_to_cart_button {
				width: 100%;
				font-weight: bold;
				font-size: 20px;
			}
		}
	}
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce form button.button, .paypal-button.paypal-button-shape-rect {
	border-radius: 4px !important; // 4px is to match the paypal buttons
}
