.membership-tab-wrapper {
	padding: 0px 15px;
	position: relative;
	ul.nav-tabs {
		margin-left: 0px;
		.nav-item {
			width: 50%;
			.nav-link {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border: solid 1px #ccc;
				text-align: center;
				color: $color-grey;
				font-size: 20px;
				background: #f1f1f1;
				cursor: pointer;
				&.active {
					background: #fff;
					border-bottom: solid #fff 1px;
					font-family: 'Roboto Bold';
				}
			}
			&:last-of-type {
				.nav-link { margin-right: 0px; }
			}
		}
	}
	.tab-content {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border: solid 1px #ccc;
		border-top: 0px;
		padding: 30px;
		background: #fff;
		.ihc-ap-wrap { margin-top: 0px; }
	}
	.membership-btns {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		.universal-btn {
			width: 45%;
		}
		@media screen and (max-width: 768px) {
			flex-direction: column-reverse;
			.universal-btn {
				width: 100%;
				margin-bottom: 10px;
			 }
		}
	}
	.iump-wrapp-listing-levels {
		text-align: center;
		margin-bottom: 30px;
		.iump-listing-levels-label {
			background-color: #fff;
			padding: 10px 20px;
			font-size: 18px;
			cursor: default;
			border-bottom: #ccc solid 3px;
			color: #999;
			width: 100%;
			&::before {
				content: "Current Level: ";
			}
		}
	}
	.ihc-account-page-wrapp {
		padding: 0px;
		.ihc-user-page-top-ap-wrapper {
			display: none;
			width: 100%;
			.ihc-middle-side {
				margin-left: 0px;
				.ihc-account-page-top-mess {
					padding: 0px;
					.ihc-account-page-top-extra-mess {
						margin-bottom:0px;
					}
				}
				.ihc-top-levels { margin: 0px; }
			}
		}
		.ihc-ap-menu {
			display: none;
		}
	}

	table.ihc-account-tranz-list, table.ihc-account-subscr-list {
		border-radius: 5px;
		overflow: hidden;
		thead {
			border: solid 2px $color-grey;
			tr {
				background-color: $color-grey !important;
				th, td {
					color: #fff !important;
					font-size: 16px !important;
					padding: 1em 15px !important;
					background-color: transparent;
					&:nth-of-type(2) {
						min-width: 100px;
					}
					&:nth-of-type(3) {
						min-width: 170px;
					}
				}
			}
		}
		tbody {
			border: solid 2px #ccc;
		}
		tr:nth-child(odd){ background-color: $color-light-grey; }
		tfoot { display: none; }
		td {
			padding: 10px 15px;
			font-size: 16px;
			color: $color-grey;
			font-family: Roboto;
			span { font-size: 16px; }
			&.ihc-content-oswald {
				font-family: Roboto;
			}
		}
		.ihc-js-renew-level-bttn { display: none; }
	}
}

div#ihc-js-stripe-connect-card-element {
	border: solid 1px #ccc;
	border-radius: 5px;
	background: rgba(0,0,0,.03);
	padding: 0px 10px !important;
}

.page-checkout-page, .page-register {
	.entry-header {
		text-align: center;
	}
	.ihc-product-details-table .ihc-product-description, .ihc-checkout-page-additional-info {
		font-size: 16px;
	}
	.ihc-checkout-page-apply {
		min-height: 35px !important;
	}
	#ihc-checout-page-purchase-payment-method-section{
		.ihc-checkout-page-box-wrapper {
			.ihc-checkout-page-box-title, .ihc-checkout-page-payment-selection{ display: none; }
		}
	}
	input[type="submit"].ihc-complete-purchase-button, input[type="submit"]#ihc_submit_bttn {
		background-color: $color-blue !important;
		border: $color-blue 1px solid;
		font-family: Roboto, Arial, Helvetica, sans-serif !important;
		font-size: 18px;
		&:hover {
			color: $color-blue !important;
			background-color: #fff !important;
		}
	}
}
.page-checkout-page {
	.ihc-product-details-table:not(.ihc-subtotal-table) {
		td { width: 100%; }
		tr { display: none; }
		.ihc-product-details-table-name-row { display: block; }
		.ihc-product-name {
			font-size: 24px;
			margin-bottom: 10px;
		}
	}
	.ihc-product-details-table-name-row td:last-of-type { display: none; }
}
.page-thank-you-page article .entry-content {
	margin: 30px;
	h5 { font-size: 24px; margin: 25px 0; }
	p:last-of-type { display: none; }
}
