.membership-tab-wrapper {
	padding: 0px 15px;
	position: relative;
	#manage-membership-btn {
		position: absolute;
		top: -10px;
		right: 25px;
		@media screen and (max-width: 840px) {
			position: relative;
			width: 100%;
			top: 0px;
			rightL 0px;
		}
	}
	.ihc-user-page-top-ap-wrapper {
		width: 100%;
		.ihc-middle-side {
			margin-lefT: 0px;
			.ihc-account-page-top-mess {
				padding: 0px;
				.ihc-account-page-top-extra-mess {
					margin-bottom:0px;
				}
			}
			.ihc-top-levels { margin: 0px; }
		}
	}
	.ihc-ap-menu {
		display: none;
	}
	.ihc-ap-wrap {
		table.ihc-account-tranz-list {
			border-radius: 5px;
			overflow: hidden;
			thead tr { 
				background-color: $color-grey !important;
				th { 
					color: #fff;
					font-size: 18px;
					padding: 10px 5px;
				}
			}
			tr:nth-child(odd){ background-color: $color-light-grey; }
			tfoot { display: none; }
			td {
				padding: 10px 5px;
				font-size: 16px;
				color: $color-grey;
				font-family: Roboto;
				span { font-size: 16px; }
				&.ihc-content-oswald {
					font-family: Roboto;
				}
			}
		}
	}
}