/* Remember to increment this file manually, you animals */
#espresso-default-admin #mtp_extra_actions .resetbutton, #espresso-default-admin #mtp_extra_actions p {
	display: none;
	pointer-events: none;
	opacity: 0;
	height: 0px;
	overflow: hidden;
}
#espresso-default-admin #mtp_extra_actions p::after {
	content: " Too BAD"
}
@media screen and (min-width: 787px) {
	.table-view-list th#title{
		width: 15%;
	}
}
.table-view-list th#course{
	width: 10%;
}
.table-view-list th#mepr-access, .table-view-list th#favorites{
	width: 5%;
}
@media screen and (max-width: 1000px) {
	.table-view-list th[id^=wpseo], .table-view-list td[class^=wpseo] {
		display: none;
	}
}
