/* make buddypress pages full width */
.buddypress, .home-page {
    .site-content .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}
.has-sidebar:not(.profile-sidebar):not(.group-sidebar):not(.llms-pointer) #primary, body.buddypress.has-sidebar:not(.profile-sidebar):not(.group-sidebar):not(.llms-pointer) #page #primary {
    max-width: 100%;
}

// no sign up, we have ump for that
.bb-header-buttons {
    .button.singup {
        display: none;
    }
}

// Everything from buddyboss that we have to override with Roboto Font
.bb-custom-typo h1, .bb-custom-typo .h1, .bb-custom-typo h2, .bb-custom-typo .h2, .bb-custom-typo h3, .bb-custom-typo .h3, .bb-custom-typo h4, .bb-custom-typo .h4, .bb-custom-typo h5, .bb-custom-typo .h5, .bb-custom-typo h6, .bb-custom-typo .h6, .bb-custom-typo .bb-course-footer, .bb-custom-typo .ld-table-list-header .ld-text, .bb-custom-typo .gamipress-achievement-points { 
    font-family: 'Roboto';
    color: #333;
    font-weight: 600;
}

body.buddyboss-theme {
    .site-header-custom {
        width: 100% !important;
        left: 0px;
    }
    .buddypanel {
        margin-top: 121px;
        z-index: 9;
		margin-left:-230px;
		font-weight: 400;
		top: 0px;
		.bb-toggle-panel {
			.bb-icon-sidebar:before {
				content: "\e859";
			}
		}
		li a i { opacity: 1 !important; }
    }
	#page.site {
		margin-left: 0px;
	}
	&.buddypanel-open.bb-page-loaded, &.buddypanel-open.buddypanel-closed.bb-page-loaded {
		.buddypanel { margin-left: 0px }
		#page.site {
			margin-left: 230px;
		}
		@media screen and (max-width: 805px) {
			#page.site { margin-left: 0px; }
		}
		@media screen and (min-width: 805px) {
			#makey-sign {
				margin-left: 180px;
				&:hover {
					margin-left: 200px;
				}
			}
		}
        
	}
	&.buddypanel-closed.bb-page-loaded {
		.buddypanel { margin-left: 0px; }
        &:not(.sfwd-sidebar) {
            #page.site {
                margin-left: 68px;
                @media screen and (max-width: 805px) {
                    margin-left: 0px;
                }
            }
        }
		// lesson pages are set to not show any buddypanel since they have a left hand nav of their own
		&.single-sfwd-lessons #page.site {
			margin-left: 0px;
		}
	}
}
// Buddypanel Nav
body.buddypanel-open {
    #buddypanel-menu {
        .bb-menu-item {
            span { white-space: break-spaces !important; }
        }
    }
}