h1, .auth0-lock-header-logo { display: none !important; }
.auth0-lock-header { 
	text-align: left !important;
	border-bottom: 7px solid #33b5e5;
}
.auth0-lock-header-bg {
	position: absolute;
	height: 118px;
	width: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	pointer-events: none;
}
.auth0-lock.auth0-lock .auth0-lock-tabs { display: block !important; }
.auth0-lock-tabs li:last-of-type { display: none !important; }
#auth0-login-form .join-btn {
   position: absolute;
   top: 59px;
   right: 0px;
   z-index: 9999;
   height: 19px;
   width: 85px;
   font-weight: 400;
   background: #1987C7;
	border: thin solid #1987C7;
	padding: 10px 30px;
}
#auth0-login-form .join-btn a { color: #fff; font-size: 14px; }
#auth0-login-form .join-btn:hover{ background: #fff; }
#auth0-login-form .join-btn:hover a{ color: #1987C7; }

.auth0-lock-opened-in-frame .auth0-lock-name { margin-left: 30px; }
.auth0-lock-opened-in-frame .auth0-lock-form { margin-top: 40px; }
.auth0-lock .auth0-lock-opened-in-frame .auth0-lock-with-tabs .auth0-lock-name { margin-left: 0px; }
.auth0-lock .auth0-lock-opened-in-frame .auth0-lock-with-tabs .auth0-lock-form { margin-top: 0px; }

#extra-options { display: none; }