.bp-user, .buddypress.directory, .groups {
	.main-content.container {
		width: 100%;
	}
}

// wall and group buttons (Groups Media)
.youzer div.item-list-tabs li.feed a::before {
	background: #3fafed;
}
li#media-all-groups-li, li#media-all-personal-li {
	a::before, i {
		background: #3fafed;
	}
}
li#media-photos-personal-li, li#media-photos-groups-li {
	a::before, i {
		background: #f51400; 
	}
}
li#media-videos-personal-li, li#media-videos-groups-li {
	a::before, i {
		background: #005e9a;
	}
}
li#media-audios-personal-li, li#media-audios-groups-li {
	a::before, i {
		background: #2C4956;
	}
}
li#media-files-personal-li, li#media-files-groups-li {
	a::before, i {
		background: #333;
	}
}
