#buddypress {
	.bp-navs {
		li {
			&.selected a {
				color: #fff;
				background: #1987c7;
			}
			#user-notifications .count {
				color: #fff;
				background: #ed1e24;
			}
			a:hover {
				color: #fff;
				background: #00adef;
			}
		}
	}
	.profile {
		#profile-edit-form {
			.screen-heading { display: none; }
			.checkbox-options {
				display: grid;
				grid-template-columns: auto auto auto auto;
				@media screen and (max-width: 981px) {
					grid-template-columns: auto auto auto;
				}
				@media screen and (max-width: 767px) {
					grid-template-columns: auto auto;
				}
				@media screen and (max-width: 480px) {
					grid-template-columns: auto;
				}
			}
			#profile-group-edit-submit {
				color: #1987C7;
				border: thin solid #1987C7;
				padding: 10px 30px;
				&:hover, &:active, &:focus {
					background-color: #1987C7;
					color: #fff;
				}
			}
		}
		legend {
			padding-bottom: 3px;
			border-bottom: 1px solid #1987C7;
			margin-bottom:10px;
			font-size: 18px;
		}
		.editfield { 
			margin-top: 0px;
			border-radius: 0px;
			border: solid 1px #1987C7;
		}
		.button-nav {
			padding-left: 0px;
			margin: 0px;
			li {
				a {
					padding: 10px;
					width: 100%;
					border: solid 1px;
					border-radius: 5px 5px 0px 0px;
					display: block;
					border-bottom: 0px;
					@media screen and (max-width: 680px) {
						font-size: 18px;
					}
				}
				&.current a {
					background: #1987C7;
					color: #fff;
				}
			}
		}
	}
}