.yz-profile {
	.yz-profile-login { display: none; }
	.yz-profile-sidebar {
		.yz-ad {
			.yz-edit-widget {
				display: none;
			}
		}
		.yz-wall_media {
			.yz-widget-content {
				visibility: hidden;
				.yz-media-box {
					visibility: visible;
				}
			}
		}
	}
	.yz-quick-buttons {
		.yz-messages-btn, .yz-notification-btn {
			.yz-button-count {
				 background-color: #f51400;
			}
		}
	}
	.yz-settings-menu {
		a[href*="change-password"] {
			display: none !important;
		}
	}
	#messages-inbox-personal-li #inbox i, #messages-notices-personal-li #notices i{
		background: #3fafed;
	}
	#messages-starred-personal-li #starred i {
		background: #f51400; 
	}
	#messages-sentbox-personal-li	#sentbox i {
		background: #005e9a;
	}
	#messages-compose-personal-li #compose i {
		background: #2C4956;
	}
	li .yzmsg-show-search i {
		background: #333;
	}
}
.yz-profile-content #yz-profile-navmenu {
	.yz-navbar-view-more { display: none; }
	.yz-settings-menu {
		width: 240px !important;
		a { 
			display: none;
			&:nth-of-type(1) {
				display: block;
			}
		}
	}
}
.yz-account-page {
	.yz-head-buttons-inner {
		display: flex;
		justify-content: center;
		.yz-home-button { display: none; }
		.yz-button-item.yz-profile-button a {
			background-color: #3fafed;
		}
		.yz-button-item.yz-networks-button a {
			background-color: #f51400; 
		}
		.yz-button-item.yz-avatar-button a {
			background-color: #005e9a;
		}
		.yz-button-item.yz-cover-button a {
			background-color: #2C4956;
		}
		.yz-button-item.yz-logout-button a {
			background: #333;
		}
	}
	.yza-account-settings { background: #005e9a; }
	.yza-profile-settings { background: #f51400; }
	.yza-widgets-settings { background: #3fafed; }
	.editfield .clear-value, .editfield .field-visibility-settings .field-visibility-settings-close,  .editfield .field-visibility-settings-notoggle .visibility-toggle-link, .editfield .field-visibility-settings-toggle .visibility-toggle-link {
		background: #005e9a;
	}
	.yz-save-options {
		background: #3fafed;
	}
	.yz-account-menus {
		.yz-general {
			display: none;
			visibility: hidden;
			pointer-events: none;
		}
	}
	
}

.bp-user .youzer .editfield .field-visibility-settings-toggle .visibility-toggle-link {
    background-color: #3fafed;
    background-image: url(../images/dotted-bg.png),linear-gradient(to left, #3fafed 0,#3fafed 100%);
    background-image: url(../images/dotted-bg.png),linear-gradient(to left, #3fafed 0,#3fafed 100%);
}
// 
.youzer-section-content > .uk-option-item {
	padding: 15px 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (min-width: 740px) {
		width: 50%;
		&:nth-child(odd) {
			float: right;
		}
	}
}

// edit visibility buttons
.youzer {
	.editfield label[for*="public"] .field-visibility-text::before {
		background: #3fafed;
	}
	.editfield label[for*="adminsonly"] .field-visibility-text::before {
		background: #f51400;
	}
	.editfield label[for*="loggedin"] .field-visibility-text::before {
		background: #005e9a;
	}
	.editfield label[for*="friends"] .field-visibility-text::before {
		background: #2C4956;
	}
}

#friend-list #message.error { // a bandaid for now, since friend requests are being accepted with a false error
	display: none !important;
}

.buddypress .yz-slider.yz-slides-fixed-height, .buddypress .yz-slides-fixed-height .yz-slideshow-item {
	height: 400px;
}

// make radio and checkbox lists bulleted
.yz-infos-content {
	.field_type_checkbox, .field_type_radio {
		.yz-info-data {
			visibility: hidden;
			display: block;
			width: 100%;
			p {
				margin-top: 10px;
				margin-bottom: 20px;
				width: 100%;
				display: grid;
				grid-template-columns: 33% 33% 33%;
				a { 
					visibility: visible;
					display: block;
					margin-bottom: -19px;
					padding-left: 8px;
					word-wrap: break-word;
					&::before {
						content: "•";
						padding-right: 5px;
						font-weight: bold;
					}
					&:nth-of-type(3) { margin-top: -20px; }
				}		
				@media (max-width: 480px) {
					grid-template-columns: 100%;
					a:nth-of-type(3) { margin-top: 0px; }
				}
			}

		}
	}
}

// if the member is type makerspace
.member-type-maker_space {
	.main-content.container {
		&::before {
			content: 'Makerspace';
			color: #fff;
			background: #005e9a;
			padding: 3px 10px;
			font-weight: bold;
			width: 100%;
			text-align: center;
			font-size: 24px;
		}
		.yz-profile-content {
			background: rgba(63, 175, 237, .2);
		}
		// don't let makerspaces edit profiles
		i.fa-edit { display: none; }
		#yz-profile-navmenu .yz-social-buttons, #yz-profile-navmenu .yz-settings-area .yz-quick-buttons, .yz-navbar-view-more { display: none; }
	}
	// hide profile settings menu
	#yz-nav-settings {
		display: none !important;
	}
	.yz-settings-sidebar {
		.yz-account-settings-menu { display: none; }
	}
	.yz-navbar-item.friends { display: none; }
	// if the member type is a makerspace and the member has makerspace level membership
	&.member-level-makerspace {
		.main-content.container {
			&::before {
				content: 'Featured Makerspace';
				background: #f51400;
			}
			#yz-profile-navmenu .yz-social-buttons, .yz-navbar-view-more { 
				display: table-cell; 
			}
			#yz-profile-navmenu .yz-settings-area .yz-quick-buttons {
				display: inline-block;
			}
			.yz-nav-view-more-menu .yz-navbar-item:nth-last-of-type(2), .yz-navbar-item.friends {
				display: block;
			}
		}
	}
	.yz-settings-form {
		input, textarea {
			background-color: #f1f1f1 !important;
			pointer-events: none;
		}
	}
	// This is all just for rewriting the section titles for makerspace users on the profile and settings page
	.yz-widget.yz-custom_infos .yz-widget-title, .yz-account-menus.yz-show-account-menus li.yz-edit-group-1 a, .yz-account-menus.yz-show-account-menus li.yz-edit-group-4 a, body[class*="edit-group-1"] .options-section-title h2, body[class*="edit-group-4"] .options-section-title h2 {
		visibility: hidden;
		i { 
			visibility: visible;
			float: left;
			margin-top: -6px;
		}
		&::after {
			content: "Makerspace Info";
			visibility: visible;
			float: left;
		}
	}
	.yz-widget.yz-custom_infos:last-of-type .yz-widget-title, .yz-account-menus.yz-show-account-menus li.yz-edit-group-4 a, body[class*="edit-group-4"] h2 {
		&::after {
			content: "Makerspace Focuses";
			visibility: visible;
			float: left;
		}
	}
	body[class*="edit-group-1"] .options-section-title h2, body[class*="edit-group-4"] .options-section-title h2 {
		i { margin-top: 20px; }
	}
	
}



// Profile Edit / Settings Page
.settings-main-content {
	.yz-settings-form {
		@media screen and (min-width: 768px) {
			.field_city, .field_state-province, .field_country, .field_zip {
				width: 50%;
				float: left;
				.current-visibility-level {
					min-width: 85px;
				}
			}
		}
	}
}