// Digital Library Page
.page-template-page-digital-library {
	.main-content.container { width: 100%; }
	#page-content.bluetoad {
		padding-top: 0px;
		@media screen and (max-width: 768px) {
		  	padding-top: 50px;
		}
		iframe {
			width: 100%;
			height: 98vh;
			border: none;
			margin-bottom: -10px;
		}
	}
}