// Digital Library Page
.page-template-page-digital-library {
	.main-content.container { width: 100%; }
	#page-content.bluetoad {
		padding-top: 0px;
		margin-bottom: 40px;
		@media screen and (max-width: 768px) {
		  	padding-top: 50px;
		}
		iframe {
			width: 100%;
			height: 100vh;
			border: none;
			margin-bottom: -10px;
			padding-bottom: 150px;
		}
	}
}

// Full width pages
.page-template-page-full-width {
	.main-content {
		width: 100%;
		margin: 0px;
	}
}


// For the auth0 login form on the front page 
#auth0-login-form {
   margin-top: 35px;
	.join-btn {
		position: absolute;
		top: 59px;
		right: 0px;
		z-index: 9999;
		height: 19px;
		width: 85px;
		font-weight: 400;
		background: #1987C7;
		border-solid: 1px #005e9a;
		a { color: #fff; }
		&:hover{
			background:#fff;
			a{
				color: #1987C7;
			}
		}
	}
	.auth0-lock-input {
		font-size: 14px;
		font-weight: 400;
	}
}
.auth0-lock.auth0-lock {
	.auth0-lock-header {
		border-bottom: 7px solid #33b5e5;
	}
   .auth0-lock-header-logo {
		display: none !important;
	}
	.auth0-lock-name {
		color: #333;
		font-size: 2em;
		padding: 15px;
		font-family: Roboto;
		text-align: left;
	}
	.auth0-lock-submit { 
      background-color: #1987C7 !important; 
	}
	.auth0-lock-submit:hover {
		background-color: #fff !important; 
		color: #1987C7 !important; 
		border: solid 1px #1987C7;
	}
	.auth0-lock-tabs li:last-of-type { 
		visibility:hidden;
      pointer-events:none;
	}
	.auth0-global-message.auth0-global-message-error {
		width: 133px;
	}
}
.auth0-lock-opened-in-frame .auth0-lock-name { margin-left: 30px; }
.auth0-lock-opened-in-frame .auth0-lock-form { margin-top: 40px; }
.auth0-lock-with-tabs.auth0-lock-opened-in-frame .auth0-lock-form { margin-top: 0px; }
.auth0-lock-with-tabs.auth0-lock-opened-in-frame .auth0-lock-name { margin-left: 0px; }