// Theme and buddypress overrides
.directory .wrapper {
	padding-top: 45px;
}

// Groups
#groups-dir-list {
	.item-block {
		min-height: 100px;
		.groups-title a {
			@extend .truncated;
			-webkit-line-clamp: 2;
			font-family: "Roboto Bold";
		}
	}
	.item-avatar {
		aspect-ratio: 1 / 1;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
} 
.shortcode-bp-groups-tabs-container h6.group-box-title {
	height: 40px;
}
.single-item.groups {
	.group-description a { text-decoration: underline !important; }
	.events-groups-li { display: none; }
	.subnav-filters .invite-button {
		padding: 8px 10px;
		background: $color-blue;
		color: #fff;
		border: 0px;
		border-radius: 2px;
		.dashicons {
			margin-top: 3px;
		}
	}
}

// Activity Page
#activity-filter-by {
	option[value=joined_group], option[value=started_course], option[value=created_lesson], option[value=created_topic], option[value=completed_lesson], option[value=completed_topic], option[value=completed_course], option[value=lesson_comment], option[value=course_comment], option[value=completed_quiz], option[value=new_booking], option[value=group_details_updated]{
		display: none;
	}
}

// Dynamic groups widget
.bp-dynamic-block-container {
	position: relative;
	h2 .menu-button { margin-top: 15px; }
	.item-options{ top: 45px; }
	ul[id^="groups-list"] {
		display: flex;
		flex-wrap: wrap;
		.item {
			margin-left: 0px !important;
			margin-top: 30px !important;
		}
		.item-avatar .bp-tooltip:after {
			display: none !important;
		}
	}
}

// Profile pages
.social-icons {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.single-item .wrapper, .archive .wrapper #content {
	margin-top: 30px !important;
}
.single-headers #cover {
	background-repeat: no-repeat;
	background-size: cover;
	blockquote {
		color: #f1f1f1;
		border: 0 solid $color-blue;
	}
	#latest-update, .group-description {
		background:rgba(0,0,0,.6);
	}
}
.settings.bp-user {
	#responseText {
		display: flex;
		height: 65px;
		align-items: center;
	}
} 
// styling for memberpress account shortcode
.bpptc-member-content {
	.mp_wrapper_nav { display: none; }
	&> h1:first-of-type {
		visibility: hidden;
		max-height: 30px;
		&:after {
			content: "Memberships";
			display: block;
			visibility: visible;
			margin-top: -20px;
		}
	}
}
#my-account-personal-li { display: none; }

.makeco-profile-fields {
	.item.bg {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		word-break: break-word;
		a {
			text-decoration: underline !important;
		}
	}
}
#activity-rss-feed { display: none; }