// Theme and buddypress overrides
#groups-dir-list {
	.item-block {
		min-height: 100px;
	}
}

// Dynamic groups widget
.bp-dynamic-block-container {
	ul[id^="groups-list"] {
		display: flex;
		flex-wrap: wrap;
		.item {
			margin-left: 0px !important;
			margin-top: 30px !important;
		}
	}
}