a {
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}

b, strong {
	font-family: "Roboto Bold";
	font-weight: 300;
}

figure {
	margin: 0px;
}
// should above be universal?

// overwrite the jquery styling, should this be universal?
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
	color: #333;
}

// Full width hacks
.full-width-div {
	width: 100vw !important;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw !important;
	margin-right: -50vw !important;
	&.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 100%;
		.elementor-row > .elementor-column > .elementor-column-wrap {
			padding: 0px;
		}
	}
}
.page-template-page-fullscreen .site-content > .container, .page-template-page-fullwidth-content .site-content > .container{
	max-width: 100% !important;
	width: 100%;
	padding: 0px;
}
@media screen and (min-width: 781px) {
	body:not(.page-template-page-fullscreen) .site {
	  overflow-x: initial;
	}
}

// onecommunity overrides
#content { width: 100%; }
.wrapper, .directory .bp-docs-container {
	width: 100%;
}

.truncated { // this is the basic style for read more... should it be universal?
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/*
.social-links {
	margin-left: 20px;
	margin-top: 15px;
	a {
		visibility: hidden;
		font-size: 24px;
		&::before {
			font-family: FontAwesome;
			visibility: visible;
		}
		&[href*="facebook"]::before {
			content: "\f09a";
			color: #3b5998;
		}
		&[href*="twitter"]::before {
			content: "\f099";
			color: #1da1f2;
		}
		&[href*="instagram"]::before {
			content: "\f16d";
			color: #e1306c;
		}
		&[href*="youtube"]::before {
			content: "\f167";
			color: #ff0000;
		}
		&[href*="linkedin"]::before {
			content: "\f08c";
			color: #0077b5;
		}
		&[href*="snapchat"]::before {
			content: "\f2ab";
			color: #fffc00''
		}
	}
}

button, input[type="submit"] {
	color: #fff;
	border: thin solid $color-blue;
	padding: 10px 30px;
	background-color: $color-blue;
	border-radius: 2px !important;
	min-height: 50px;
	font-size: 16px;
	&:hover, &:active, &:focus {
		background-color: #fff;
		color: $color-blue;
		box-shadow: none;
	}
}
input[type="submit"].disabled { color: #fff !important; }

.nice-table {
	background: #fff;
	border-radius: 1em;
	overflow: hidden;
	border-collapse: collapse;
	box-shadow: $color-light-grey 0px 0px 2px 2px;
	thead td { font-weight: $font-bold	}
	td, th {
		padding: 10px 15px !important;
		vertical-align: middle;
	}
	tr:last-of-type td {
		border-bottom: 0px;
	}
}

*/

.feedback-btn {
	position: fixed;
	z-index: 9999;
    bottom: 20px;
    background: $color-red;
	color: #fff;
	border: solid 1px $color-red;
    width: 120px;
    right: -15px;
	transition: 0.3s;
	&:hover {
		background: #fff;
		color: $color-red;
		bottom: 16px;
		right: -5px;
		padding: 5px;
		font-size: 18px;
	}
}
