a {
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}

b, strong {
	font-family: "Roboto Bold";
	font-weight: 300;
}

figure {
	margin: 0px;
}
// should above be universal?

.wrapper .breadcrumbs { visibility: hidden; margin-bottom: 0px !important } //hide breadcrumbs

// overwrite the jquery styling, should this be universal?
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
	color: #333;
}

// Full width hacks
.full-width-div {
	width: 100vw !important;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw !important;
	margin-right: -50vw !important;
	&.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 100%;
		.elementor-row > .elementor-column > .elementor-column-wrap {
			padding: 0px;
		}
	}
}
.page-template-page-fullscreen, .page-template-page-fullwidth-content, .page-template-page-fullwidth{
	.site-content {
		max-width: 100% !important;
		width: 100% !important;
		padding: 0px;
		& > .container {
		   width: 100%;
		   padding: 0px;
		}
		.page-title {
			display: none;
		}
   }
}
@media screen and (min-width: 781px) {
	body:not(.page-template-page-fullscreen) .site {
	  overflow-x: initial;
	}
}

// Podcast widget
.wp-block-jetpack-podcast-player {
	.jetpack-podcast-player__current-track-info, .jetpack-podcast-player__track-description {
		padding: 0px !important;
	}
	.jetpack-podcast-player__podcast-title {
		display: none;
	}
	.jetpack-podcast-player__tracks {
		margin-top: 5px;
	}
	.jetpack-podcast-player__track-link {
		padding-left: 0px !important;
		&:active {
			font-family: "Roboto Bold";
			font-weight: 500;
			a {
				color: inherit !important;
			}
		}
	}
}
.mejs-controls {
	display: inline-flex;
	padding: 0px !important;
	button { 
		border: 0px;
		padding: 0px;
		width: 20px;
		font-size: 0px;
	 }
}

.truncated { // this is the basic style for read more... should it be universal?
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

input[type="submit"] {
	color: #fff;
	border: thin solid $color-blue;
	padding: 10px 30px;
	background-color: $color-blue;
	border-radius: 2px !important;
	font-size: 16px;
	&:hover, &:active, &:focus {
		background-color: #fff;
		color: $color-blue;
		box-shadow: none;
	}
}
input[type="submit"].disabled { color: #fff !important; }

.feedback-btn {
	position: fixed;
	z-index: 9999;
    bottom: 20px;
    background: $color-red;
	color: #fff;
	border: solid 1px $color-red;
	padding: 5px 10px;
	border-radius: 5px;
    width: 120px;
    right: -15px;
	transition: 0.3s;
	&:hover {
		background: #fff;
		color: $color-red;
		bottom: 16px;
		right: -5px;
		padding: 5px;
		font-size: 18px;
	}
}
