.page-template-page-media-center {
	#media-center-page #tabs {
		display: flex;
		gap: 20px;
		@media screen and (max-width: 600px) {
			flex-direction: column;
		}
		ul.nav {
			min-width: 250px;
			background: #f1f1f1;
			padding: 0px;
			li {
				border-bottom: solid 2px #fafbfd;
				padding: 10px;
				background: #f1f1f1;
				&:hover {
					background: #eee;
				}
				a { 
					color: #333;
				}
			}
		}
	}
	p { color: #333; }
	h2, h4{ margin-top: 0px; }
	h4 {
		font-size: 1.5em;
		text-align: left;
		margin-bottom: 10px;
	}
}
