$color-red: 		#ea002a;
$color-blue: 		#005E9A;
$color-light-blue: 	#3fafed;
$color-navy: 		#151733;
$color-grey: 		#333;
$color-light-grey: 	#f1f1f1;
$color-teal:		#2C4956;
$the-border:    	2px;
$link-color:    	#147EC2;
$link-color-hover:	#0e5684; //15% darker
$bg-color:      	#fafbfd;
$border-color:   	#cecece;
$headings-color:   	inherit;
$border-radius-base:      4px;
$border-radius-large:     6px;
$border-radius-small:     3px;
$font-light:		100;
$font-normal:		300;
$font-bold:			700;

// Import Gamja Flowers
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower&display=swap');

body {
	color: $color-grey;
	font-family: 'Roboto';
	padding: 0px !important;
}

.mobile body {
	position: relative !important;
	.buddypanel { display: none !important; }
	.bb-mobile-header-wrapper, .bb-mobile-panel-wrapper { display: inherit !important; }
	#masthead.site-header { width: 100%; }
	#page.site { margin-left: 0px; }
}

body.buddypanel-closed.learndash-cpt-sfwd-lessons #page.site {
	.site-header-custom { left: 0px; }
	#primary { margin-top: 0px; }
}
body.buddyboss-theme:not(.learndash-cpt-sfwd-lessons) {
    .site-header-custom {
        width: 100% !important;
        left: 0px;
    }
    .buddypanel {
        margin-top: 121px;
        z-index: 9;
		margin-left:-230px;
		font-weight: 400;
		.bb-toggle-panel {
			.bb-icon-sidebar:before {
				content: "\e859";
			}
		}
		li a i { opacity: 1 !important; }
    }
	#page.site {
		margin-left: 0px;
	}
	&.buddypanel-open.bb-page-loaded, &.buddypanel-open.buddypanel-closed.bb-page-loaded {
		.buddypanel { margin-left: 0px }
		#page.site {
			margin-left: 230px;
		}
		@media screen and (max-width: 805px) {
			#page.site { margin-left: 0px; }
		}
		@media screen and (min-width: 805px) {
			#makey-sign {
				margin-left: 180px;
				&:hover {
					margin-left: 200px;
				}
			}
		}
        
	}
	&.buddypanel-closed.bb-page-loaded {
		.buddypanel { margin-left: 0px; }
        &:not(.sfwd-sidebar) {
            #page.site {
                margin-left: 68px;
                @media screen and (max-width: 805px) {
                    margin-left: 0px;
                }
            }
        }
		// lesson pages are set to not show any buddypanel since they have a left hand nav of their own
		&.single-sfwd-lessons #page.site {
			margin-left: 0px;
		}
	}
}
// Buddypanel Nav
body.buddypanel-open:not(.learndash-cpt-sfwd-lessons)  {
    #buddypanel-menu {
        .bb-menu-item {
            span { white-space: break-spaces !important; }
        }
    }
}

a {
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}

#page.site-content {
	h1, h2, h3, h4, h4, h6 {
		font-family: "Gamja Flower", "Roboto", Arial, sans-serif;
	}
	button, input[type="submit"] {
		font-family: "Gamja Flower", "Roboto", Arial, sans-serif;
	}
}
h1 { font-size: 2.5rem; }
h2 { font-size: 32px; }
h4 { font-size: 24px; }

h1.entry-title {
	font-weight: 400;
	font-size: 34px;
}
.sticky-header #content.site-content {
	min-height: initial;
	.container { max-width: 100%; }
}
@media screen and (max-width: 767px) {
	h1, .entry-title { font-size: 2.6em; }
}

b, strong {
	font-family: "Roboto Bold";
	font-weight: 300;
}

figure {
	margin: 0px;
}

.nav-hamburger {
    right: auto;
    left: 80px;
}

// overwrite the jquery styling
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
	color: #333;
}

.full-width-div {
	width: 100vw !important;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw !important;
	margin-right: -50vw !important;
	&.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 100%;
		.elementor-row > .elementor-column > .elementor-column-wrap {
			padding: 0px;
		}
	}
}

.social-links {
	margin-left: 20px;
	margin-top: 15px;
	a {
		visibility: hidden;
		font-size: 24px;
		&::before {
			font-family: FontAwesome;
			visibility: visible;
		}
		&[href*="facebook"]::before {
			content: "\f09a";
			color: #3b5998;
		}
		&[href*="twitter"]::before {
			content: "\f099";
			color: #1da1f2;
		}
		&[href*="instagram"]::before {
			content: "\f16d";
			color: #e1306c;
		}
		&[href*="youtube"]::before {
			content: "\f167";
			color: #ff0000;
		}
		&[href*="linkedin"]::before {
			content: "\f08c";
			color: #0077b5;
		}
		&[href*="snapchat"]::before {
			content: "\f2ab";
			color: #fffc00''
		}
	}
}

.page-template-page-fullscreen .site-content>.container, .page-template-page-fullwidth-content .site-content>.container, .page-template-default .site-content>.container{
	max-width: 100% !important;
}
.row-eq-height {
	flex-wrap: wrap;
}

body.admin-bar {
	.navbar.navbar-fixed-top, .navbar.navbar-fixed-top.slide-active  {
		margin-top: 32px;
	}
}

.truncated {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

button, input[type="submit"] {
	color: #fff;
	border: thin solid $color-blue;
	padding: 10px 30px;
	background-color: $color-blue;
	border-radius: 2px !important;
	font-size: 20px !important;
	align-self: auto !important;
	height: auto;
	&:hover, &:active, &:focus {
		background-color: #fff;
		color: $color-blue;
		box-shadow: none;
	}
}

.btn, .universal-btn, .mc-blue-arrow-btn {
	font-family: "Gamja Flower", "Roboto", Arial, sans-serif !important;
	font-size: 20px;
}

.essb_links.essb_fullwidth_14_100_100 {
	margin-top: 0px;
	li {
		width: 14.275% !important;
		text-align: center;
		a {
			min-height: 55px;
			display: flex;
			justify-content: center;
			align-items: center;
			.essb_icon, .essb_counter_bottom {
				line-height: .1em;
			}
			.essb_network_name {
				min-height: 5px;
				margin-top: -5px;
			}
		}
	}
}

// Youtube responsiveness for Jetpack shortcode
.embed-youtube,
.embed-vimeo,
.googlemaps {
	overflow: hidden;
	padding-bottom: 56.25%;
	margin-bottom: 15px;
	position: relative;
	height: 0;
}
.embed-youtube { padding-bottom: 61.25%; }

.embed-youtube iframe,
.embed-vimeo iframe,
.googlemaps iframe,
.embed-resp object {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.nice-table {
	background: #fff;
	border-radius: 1em;
	overflow: hidden;
	border-collapse: collapse;
	box-shadow: $color-light-grey 0px 0px 2px 2px;
	thead td { font-weight: $font-bold	}
	td, th {
		padding: 10px 15px !important;
		vertical-align: middle;
	}
	tr:last-of-type td {
		border-bottom: 0px;
	}
}

#makey-sign {
	position: fixed;
    bottom: 0;
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    margin-bottom: -70px;
    margin-left: 30px;
    width: 12%;
    z-index: 99;
    transition: 0.3s;
	&:hover {
		width: 15%;
		margin-bottom: -45px;
		margin-left: 40px;
	}
	@media screen and (max-width: 1200px) {
		width: 150px;
		&:hover {
			width: 180px;
		}
	}
	@media screen and (max-width: 600px) {
		display: none;
	}
}

.feedback-btn {
	position: fixed;
	z-index: 9999;
	bottom: 20px;
	background: #ea002a;
	color: #fff;
	border: solid 1px #ea002a;
	padding: 5px 10px;
	border-radius: 5px;
	width: 120px;
	right: -15px;
	transition: .3s;
	&:hover {
		background: #fff;
		color: #eb002a;
		bottom: 16px;
		right: -5px;
		padding: 5px;
		font-size: 18px;
	}
}

// Safari only
.safari-mac {
	.row:before, .row:after {
		display: none;
	}
}

.page-template-page-login-required {
	.logged-out-wrapper {
		display: flex;
		justify-content: center;
		.logged-out-message {
			padding: 10px 20px;
			font-size: 18px;
			border: solid 1px $color-light-grey;
			border-radius: 10px;
			margin: 20px 0;
			background: #fff;
		}
	}
	.content-area {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
