// STYLEGUIDE COLORS
$link-color:     #1987C7;
$text-grey:      #4A4A4A;
$text-green:     #1CC700;
$text-red:       #EB002A;

$bg-red:         #B52A31;
$bg-yellow:      #F0AD4E;
$bg-denim:       #00597E;
$bg-blue:        #3FAFED;
$bg-grey:        #9B9B9B;
$bg-light-grey:  #D8D8D8;
$bg-dark-grey:   #2C4956;
$bg-light:       #F0F0F0;

$btn-red:        #EB002A;
$btn-blue:       #005E9A;

$nav-blue:       #005E9A;
$nav-light-blue: #D0EAFC;
$nav-grey:       #333333;


@import "universal-normalize.scss";
@import "universal-globals.scss";
@import "universal-fonts.scss";
@import "universal-footer.scss";
@import "universal-forms.scss";
@import "owl-carousel.scss";
@import "timepicker.scss";

@import "universal-nav.scss";
@import "universal-secondnav.scss";
