.page-template-page-authentication, .page-template-page-authenticated, #makeblog.page-id-539763 { // some pages just don't need the newsletter footer
   .universal-footer {
	   .newsletter-footer { 
		   display: none;
	   }
	}
}

.universal-footer {
	color: #fff;
	overflow-x: hidden;
	hr {
		border-top: 1px solid #6A6A6A;
		width: 200%;
		margin-left: -50px;
		@media screen and (max-width: 768px) {
			margin-bottom: 30px;
		}
	}
	a {
		color: #fff;
		font-family: Roboto Light;
		&:hover {
			text-decoration: underline;
		}
	}
	.row { display: block; margin: 0px; }
	.magazine-footer {
		background: #2C4956;
		padding: 30px 0px;
		@media screen and (min-width: 992px) {
			img { 
				float: right; 
				margin-right: -30px; 
			}
			.btn.btn-red {
				margin-left: -3em;
			}
		}
		@media screen and (max-width: 991px) {
			img { margin: 0 auto; }
			.btn.btn-red {
				margin: 15px auto 0px;
				display: block;
				//width: 55%;
            max-width: 360px;
            white-space: normal;
            padding: 15px;
			}
		}
		@media screen and (max-width: 580px) {
			.container {
				padding: 0px;
				.btn.btn-red {
					//width: 85%;
				}
			}
		}
		@media screen and (max-width: 400px) {
			.container .btn.btn-red {
            width: 100%;
            line-height: 1.15;
            padding: 14px 15px;
         }
		}
		ul {
		   list-style: none;
		   padding: 0;
			margin-left: 0px;
		}
		li {
			font-size: 16px;
		   margin-left: -3.3em;
			padding-bottom: 18px;
			color: #fff;
         font-weight: 200;
         font-family: 'Roboto', sans-serif;
		}
		li:before {
		   content: "\f054"; /* FontAwesome Unicode */
		   font-family: FontAwesome;
			font-size: 18px;
		   display: inline-block;
		   margin-left: -2.3em; /* same as padding-left set on li */
		   width: 2.3em; /* same as padding-left set on li */
		}
		.btn.btn-red {
			border-radius: 2px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.link-footer {
		background: #333;
		padding: 30px 0px 0px;
		margin-bottom: -10px;
		font-family: "Roboto Light", "Helvetica Neue", Helvetica, sans-serif;
		.container { 
			padding: 0px;
			ul {
				padding: 0px;
				list-style: none;
				margin-left: 0px;
				li {
					padding-bottom: 1em;
					font-size: 16px;
				}
			}
			@media screen and (min-width: 992px) {
				.faire-links {
					margin-left: -50px;
					width: 40%;
				}
			}
			@media screen and (min-width: 1200px) {
				.faire-links {
					margin-left: -30px;
					width: 34%;
				}
			}
			.footer-branding {
				margin-top: 70px;
				@media screen and (max-width: 1187px) {
					margin-top: 75px;
				}
				img { 
					max-width: 150px;
					margin-bottom: 20px;
					@media screen and (max-width: 1187px) {
						max-width: 140px;
					}
				}
				span {
					font-size: 24px;
					color: #989898;
					float: left;
					margin-right: 15px;
				}
			}
			.footer-social {
				padding-right: 0px;
				padding-left: 25px;
				@media screen and (min-width: 992px) {
					padding-right: 1.5%;
				}
				.footer-social-section {
					min-height: 100px;
					clear: both;
					@media screen and (min-width: 992px) {
						max-width: 170px;
						margin-left: -10px;
						float:right;
					}
					&:first-of-type { margin-bottom: 10px; }
					.footer-label { color: #9B9B9B; }
					ul { 
						margin: 0 auto 10px;
						li {
							float: left;
							font-size: 34px;
							margin-right: 15px;
							&:last-of-type {
								margin-right: 0px;
							}
							@media screen and (max-width: 991px) {
								margin-right: 48px;
							}
							@media screen and (max-width: 768px) {
								margin-right: 18%;
							}
							@media screen and (max-width: 550px) {
								margin-right: 16%;
							}
							@media screen and (max-width: 369px) {
								margin-right: 15%;
							}
							.fa {
								color: #fff;
							   transition: all .3s ease-in-out;
							}
							.fa:before { 
								padding: 0px;
								font-size: 34px;
							}
							.fa-twitter-square:hover {
								color: #1da1f2;
							}
							.fa-facebook-square:hover {
								color: #3b5998;
							}
							.fa-youtube:hover {
								color: #ff0000;
							}
							.fa-instagram:hover {
								color: #f56040;
							}
						}
					}
				}
			}		
		}
	}
	.bottom-footer {
		background: #333;
		padding: 10px 0px;
		border-top: solid 1px;
		font-size: 12px;
		line-height: 28px;
		.footer-legal {
			float: right;
			padding: 0px;
			@media screen and (min-width: 768px) {
				padding-right: 13%;
			}
			div {
				padding-left: 0px;
				a { 
					border-left: solid 1px #fff;
					padding-left: 20px;
					@media screen and (max-width: 1200px) {
							margin-left: -30px;
					}
					@media screen and (max-width: 991px) {
							margin-left: -20px;
					}
					@media screen and (max-width: 768px) {
						border: none;
						&:first-of-type {
							margin-left: -20px;
						}
					}	
				}
			}
		}
		.footer-copyright {
			float: left;
			padding: 0px;
		}
	}
	.newsletter-footer {
      background-image: url("https://make.co/wp-content/themes/memberships/img/makey_logo.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 92px;
      @media (max-width:768px) {
         background-image: none;
      }
		padding: 15px 0px 25px;
      background-color: #005E9A;
      color: #fff;
		.close-newsletter {
			display: none; // if it's not scrolling, we don't wanna see it
			position: absolute;
			right: 30px;
			font-size: 20px;
			top: 10px !important; //overwrite sumo me values
			cursor: pointer;
		}
		.align-middle {
			display: flex;
         align-items: center;
  			justify-content: center;
			@media (min-width:768px) {
				min-height: 100px;
			}
		}
		.align-left {
			display: flex;
		}
      form {
         margin-top: 7px;
			font-size: 18px;
			.row { // believe it or not some sites don't have this
				display: flex;
				flex-wrap: wrap;
			}
			@media (max-width:768px) {
				.newsletter-section {
					width: 95%;
					margin: 0 auto;
					padding: 0px;
				}
				h3, .more-details {
					margin-left: 5%;
				}
			}
			.newsletter-section:first-of-type {
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
			h3, .more-details { 
				text-align: left;
				font-family: "Roboto Light";
				width: 90%;
				color: #fff;
         }
			h3 { font-size: 24px; }
         .more-details{
            font-size: 16px;
				color: #fff;
         }
         .nl-panel-input {
            width: 80%;
            margin-right: 15px;
            &::placeholder {
               color: #fff;
					font-weight: 100;
            }
            // for chrome autocomplete treatement
            &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
               -webkit-box-shadow: 0 0 0 30px #005E94 inset !important;
               -webkit-text-fill-color: white;
               -webkit-transition:none;
               caret-color: white;
            }
         }
      }
      /* Stylize the email input */
      .input-container {
         width: 100%;
         position: relative;
         .error-message {
            position: absolute;
            top: -20px;
            left: 0;
            display: block;
            font-size: 12px;
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
            color: #fff!important;
            padding: 0;
         }
      }
    
      @keyframes shake {
         10%, 90% {
            transform: translate3d(-1px, 0, 0);
         }
         
         20%, 80% {
            transform: translate3d(2px, 0, 0);
         }
      
         30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
         }
      
         40%, 60% {
            transform: translate3d(4px, 0, 0);
         }
      }



      input[type=email], input[type=email]:hover,
         input[type=submit], input[type=submit]:hover{
         padding-left: 0px;
         background-color: #005E9A;
         box-shadow: none;
         border: none;
         border-bottom: thin white solid;
         color: #fff;
			font-size: 18px;
         border-radius: 0px;
      }
		input[type=email] { padding-bottom: 15px; }
      input[type=submit], input[type=submit]:hover {
         border: thin white solid;
         height: 45px;
         width: 64px;
         margin-bottom: 10px;
         text-align: center;
         padding-right: 20px;
         padding-left: 20px;
			&:hover, &:active, &:focus {
				background: #fff;
				color: #005E9A;
         }
         &.working {
            animation: pulse 1.5s infinite;
         }
      }

      @keyframes pulse {
         0% {
            background-color: #005E9A;
            opacity: 1;
				color: #fff;
         }
         50% {
            background-color: #fff;
            opacity: 0.6;
				color: #005E9A;
         }
         100% {
            background-color: #005E9A;
            opacity: 1;
				color: #fff;
         }
      }

		.btn-w-ghost { padding: 0px; }
		.makerfaire-checkboxes {
			display: none;
		}
   }
	.newsletter-footer.scrolling {
		position: fixed;
		bottom: 0px;
		width: 100%;
		z-index: 998;
		.close-newsletter { display: block; }
		@media screen and (max-width: 768px) {
			position: relative;
			.close-newsletter {
				display: none !important;
			}
		}
	}
}
// NOTE (TS): added this to resolve safari/BS grid/flexbox problem
// Not using `.universal-footer` here because has too much specificity
// and breaks the layout for mobile devices
.safari-mac .newsletter-footer {
	.col-sm-6 {
		width: 49.9%;
	}
}

.mobile .newsletter-footer .close-newsletter {
	display: none;
}