// a little normalization of our own
body > div {
    font-size: 1rem; // undo genesis font sizing
}
.main-content.container, .main-content .container, .main-content.container-fluid, .main-content .container-fluid { 
	padding: 0px; // no awkward paddings on our bootstrap containers
}
a { // don't let genesis molest our links
	text-decoration: none;
}


.btn-red, .btn-reversed {
	font-weight: 300;
	padding: 15px 50px;
	font-size: 18px;
	margin-top: 10px;
	line-height: 1em;
	border: none;
	border-radius: 25px;
	background-color: #EA002A;
	color: #ffffff;
	transition: background-color 0.2s;
	display: inline-block;
	&:visited {
		color: #fff;
	}
}
.btn-red:hover, .btn-red:active, .btn-red:focus {
	color: #fff;
	background-color: #FF0000;
	transition: background-color 0.2s;
	text-decoration: underline !important;
}
.btn-reversed {
    border: solid 1px #ccc;
    background: transparent;
    cursor: default;
    &:hover, &:active, &:focus { color: #fff; }
}

.btn-blue-universal { // These are based off the commonly used btn colors of makerfaire
	color: #1987C7;
	border: thin solid #1987C7;
	padding: 10px 30px;
	&:hover, &:active, &:focus {
		background-color: #1987C7;
   	color: #fff;
	}
}
.btn-blue-reversed {
	color: #fff;
   border: thin solid white;
   padding: 10px 30px;
	&:hover, &:active, &:focus {
		color: #00597E;
   	background-color: #fff;
	}
}

.universal-btn {
	background-color: #005e9a;
	color: #fff;
	display: inline-flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
	border-radius: 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;      
	height: 50px;
	padding: 0px 15px;
	&:visited, &:active { color: #fff; }
	&:hover {
		background: #fff;
      color: #005e9a;
      border: solid 1px #005e9a;
	}
}
.universal-btn-red {
	@extend .universal-btn;
	background-color: #EA002A;
	&:hover {
		color: #EA002A;
		border-color: #EA002A;
	}
}
.universal-btn-navy {
	@extend .universal-btn;
	background-color: #151733;
	&:hover {
		color: #151733;
		border-color: #151733;
	}
}
.universal-btn-reversed {
	@extend .universal-btn;
	background-color: #FFF;
	border-color: #005e9a;
	color: #005e9a !important;
	&:hover {
		color: #FFF !important;
		background-color: #005e9a;
	}
}


.sub-caption-dark {
	padding: 10px 15px;
	background-color: #323232;
	width: 100%;
	opacity: .8;
	font-size: .8em;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	a {
		color: #fff;
	}
}

.universal-warning {
	color: #4A4A4A;
	height: 40px;
	background: #FBC7D0;
	font-weight: bold;
	padding: 10px;
}

.tooltip, .tooltip-inner { 
	padding: 10px;
} 
.ui-dialog {
	position: relative;
	min-width: 40%;
	p { color: #000; }
	.ui-button-icon-only {
		display: none;
	}
	.ui-dialog-titlebar {
		padding: .25em .6em;
		white-space: normal;
		background: none;
      border: none;
      color: #333;
      font-size: 1.5em;
      cursor: pointer;
		.ui-dialog-title {
          font-family: "Roboto Medium", sans-serif;
      }
		.ui-dialog-titlebar-close {
          border: none;
          background: #fff;
          outline: 0;
          &::after {
            font-family: 'Linearicons-Free';
            content: "\e870";
            color: #ED1C24;
            font-size: 24px;
            position: absolute;
            right: 5px;
            top: -8px;
            border: none;
          }
      }
	}
	iframe { 
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}

// This checkbox code is so good, we got to make it universal
.sel-container {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.sel-container input[type=checkbox] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	margin-top: 11px;
	border: thin solid white;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.sel-container input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.sel-container .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.genesis-skip-link {
    display: none;
}

// SAFARI FIXES

.safari-mac {
	@media (min-width: 992px) {
		.col-md-6 {
			width: 49.9%;
		}
	}
	@media (min-width: 768px) {
		.col-md-6 {
			width: 49.88%;
		}
		.col-sm-6 {
			width: 49.9%;
		}
	}
}