// site nav logos
body.makeco #site-logo {
	min-width: 100px;
	h2.site-title a.makeco-logo { display: block !important; }
}
body.makershed #site-logo {
	min-width: 100px;
	h2.site-title a.makershed-logo { display: block !important; }
}
body.makezine #site-logo {
	min-width: 100px;
	h2.site-title a.makezine-logo { display: block !important; }
	@media screen and (max-width: 800px) {
		h2.site-title { position: relative; }
	}
}
body#makerfaire #site-logo {
	min-width: 165px;
	h2.site-title a.makerfaire-logo { display: block !important; }
}
body.makercamp #site-logo {
	min-width: 100px;
	h2.site-title a.makercamp-logo { display: block !important; }
}
body.makerspaces #site-logo {
	min-width: 100px;
	h2.site-title a.makerspaces-logo { display: block !important; }
	@media screen and (max-width: 800px) {
		h2.site-title { margin-right: 10px; }
	}
}
body.learn #site-logo {
	min-width: 100px;
	h2.site-title a.makelearn-logo { display: block !important; }
}
body:not(.makeco):not(.makershed):not(.makezine):not(#makerfaire):not(.makercamp):not(.makerspaces):not(.learn) #site-logo {
	min-width: 100px;
	h2.site-title a.makezine-logo { display: block !important; }
}

.site-header-custom {
    font-family: 'Roboto', 'SF UI Text', sans-serif;
    background: #fff;
    position: fixed;
    z-index: 610;
    box-shadow: 0 1px 5px rgba(0,0,0, .3);
    width: 100%;
	max-width: 100vw;
	@media screen and (min-width: 768px) {
		height: 121px; // hardcoded to prevent CLS
		background: #333;
	}
    i {
        color: #939597;
        font-size: 21px;
        line-height: 1;
        display: inline-block;
    }
	// hide campus menu items unless you are on campus
	.campus-subnav-item { display: none; }
	.top-menu.menu-item-has-children > a {
		padding: 0px !important;
	}
    .menu-item-has-children > a {
        position: relative;
    }
    #site-logo.site-branding {
        margin: 0px;
    }
    .sub-menu {
        background: #fff;
        box-shadow: 0 2px 7px 1px rgba(0,0,0,.05),0 6px 32px 0 rgba(18,43,70,.1);
        border-radius: 4px;
        list-style: none;
        padding: 10px 0;
        position: absolute;
        right: -20px;
        top: -webkit-calc(100% - 15px);
        top: calc(100% - 15px);
        margin: 0;
        min-width: 168px;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        left: 50%;
        transform: translate(-50%);
        top: 100%;
        width: max-content;
    }
    .site-header-container.flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: flex !important;
        max-width: 100%;
		background: #fff;
        .site-branding {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 76px;
            min-width: 60px;
            padding-right: 30px;
            -webkit-transition: all linear .1s;
            transition: all linear .1s;
            h2.site-title {
                font-family: 'Roboto';
                color: #333;
                font-weight: 600;
                font-size: 1.375rem;
                margin: 0;
                a {
                    color: #005e9a;
					display: none;
                }
                img.nav-logo {
                    position: relative;
                    z-index: 1;
                    max-height: 76px;
                    height: 40px;
					min-width: 100px;
                }
            }
            @media screen and (max-width: 800px) {
                padding-right: 0px;
				h2.site-title {
					position: absolute;
				    margin-right: auto;
				    margin-left: auto;
				    left: 0;
				    right: 0;
				    text-align: center;
					max-width: 200px;
				}
            }
        }
        &.default-header {
            .main-navigation {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                #primary-navbar {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    min-width: 130px;
					h3, .mobile-subscribe-btn { display: none; }
                    @media screen and (max-width: 800px) {
                        flex-direction: column;
                        min-width: fit-content;
						h3 {
							display: block;
							background: #fff;
                            width: 100%;
							padding-left: 30px;
							padding-top: 30px;
							padding-bottom: 10px;
							font-size: 24px;
							margin: 0px;
						}
						.mobile-subscribe-btn {
							display: block;
							padding: 15px;
							background: #fff;
							a {
								margin-bottom: 0px;
								width: 100%;
							}
						}
						.make-coin { display: flex; }
                        #menu-secondary_universal_menu, #buddypanel-menu, .dropdown-menu {
                            background: #fff;
                            width: 100%;
                            margin: 0px;
                            display: flex;
                            flex-direction: column;
							&.profile-menu:not(.logged-in) { display: none; }
							li { min-height: 40px; }
                            a {
                                color: #333;
                                padding-left: 30px;
                                font-size: 16px;
                                &:hover {
                                    background: #f5f5f5;
                                }
								i.buddyboss { display: none; }
                            }
							.bp-logout-nav, .bp-login-nav { display: none; }
                        }
                    }
                    #primary-menu {
                        margin: 0;
                        list-style: none;
                        vertical-align: middle;
                        height: 76px;
                        white-space: nowrap;
                        padding-left: 0px;
						display: flex;
						flex-wrap: wrap;
                        a {
                            font-size: 16px;
                            font-weight: 500;
                            color: #333;
                            font-family: "Roboto Bold";
                            p { margin: 0px; }
                        }
                        &> li.menu-item {
                            height: 76px;
                            line-height: 76px;
                            padding: 0 16px;
                            position: relative;
                            vertical-align: middle;
                            font-weight: bold;
                            position: relative;
                            &::after { display: none; }
                            &:hover {
                                background: #f1f1f1;
                                a {
                                    color: #333;
                                    text-decoration: none;
                                }
                            }
                            &> .sub-menu::before {
                                right: 50%;
                                content: ' ';
                                position: absolute;
                                width: 0;
                                height: 0;
                                top: 0;
                                border: 7px solid #000;
                                border-color: #fff #fff transparent transparent;
                                -webkit-transform-origin: 0 0;
                                -ms-transform-origin: 0 0;
                                transform-origin: 0 0;
                                -webkit-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                                box-shadow: 2px -3px 3px 0 rgba(0,0,0,.02);
                                z-index: 1002;
                            }
                            .menu-item-has-children > a {
                                border-right: 40px solid transparent;
                                &::after {
                                    left: -webkit-calc(100% + 5px);
                                    left: calc(100% + 5px);
                                    -webkit-transform: rotate(-135deg);
                                    -ms-transform: rotate(-135deg);
                                    transform: rotate(-135deg);
                                    top: 28px;
                                    display: none;
                                }
                            }
							&.menu-item-has-children.special-menu-item > a {
								color: #EA002A;
							}
                            .sub-menu {
                                li.menu-item {
                                    font-weight: 400;
                                    line-height: 30px;
                                    a { font-family: Roboto; }
                                    &.menu-item-has-children:not(.hideshow)::after {
                                        line-height: 1;
                                        right: 10px;
                                        top: -35px;
                                        margin-bottom: -35px;
                                        float: right;
                                        content: '\f054';
                                        font-family: 'FontAwesome';
                                        font-weight: 400;
                                        display: inline-block;
                                        color: #939597;
                                        position: relative;
                                        font-size: 16px;
                                        -webkit-font-smoothing: antialiased;
                                        -moz-osx-font-smoothing: grayscale;
                                        height: 35px;
                                        width: 35px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: -10px;
                                    }
                                }
                                .sub-menu {
                                    transform: none;
                                    left: 100%;
                                    top: 6px;
                                    border-top-left-radius: 0px;
                                    border-bottom-left-radius: 0px;
                                    width: 50%;
                                    li {
                                        a {
                                            font-weight: 300;
                                            line-height: 20px !important;
                                        }
                                    }
                                }
                            }
                        }
                        .menu-item-has-children {
                            &:hover > .sub-menu {
                                opacity: 1;
                                visibility: visible;
                            }
                            &> a {
                                &::after {
                                    left: 0;
                                    right: 0;
                                    margin: auto;
                                }
                            }
                        }
                    }
                }
                .sub-menu li {
                    &:hover {
                        background: #f5f5f5;
                        color: #007cff;
                    }
                    a {
                        display: block;
                        font-size: 15px;
                        font-weight: inherit;
                        color: #939597;
                        letter-spacing: -.24px;
                        line-height: 1;
                        margin-bottom: 1px;
                        padding: .5625rem .9375rem;
                        white-space: normal;
                        max-width: 360px;
                    }
                }
            }
            .header-aside {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                &> * {
                    height: 76px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }
                .header-aside-inner {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    &> * {
                        line-height: 1;
						padding: 0px;
                    }
                    .nav-header-buttons {
                        padding: 0px;
                        .button.link {
                            background: 0 0;
                            border: 0;
                            color: inherit;
                            display: -webkit-inline-box;
                            display: -ms-inline-flexbox;
                            display: inline-flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            padding: 6px 12px;
                            color: #333;
                        }
                    }
                    .user-wrap {
                        display: none;
                    }
                    #make-coin {
						text-align: center;
						padding: 0 20px;
						display: none;
						min-width: 57px;
						a {
							margin-top: 3px;
							display: block;
						}
                    }
                }
            }
        }
        .mobile-toggle-panel, .close-mobile { display: none; }
        @media screen and (max-width:800px) {
            justify-content: space-between;
            &::before, &::after {
                content: none;
            }
            .mobile-toggle-panel {
                display: block;
                color: #333;
            }
            .search-separator { display: none; }
            #site-navigation-custom {
                position: absolute;
                z-index: 99999;
                top: 0px;
                left: -1100px;
                transition: left .5s, width .5s;
                height: 100vh;
                &.show {
                    left: 0px;
                    background: rgba(0, 0, 0, .8);
                    width: 100%;
                    overflow-y: auto;
                    overflow-x: hidden;
                    .close-mobile {
                        display: block;
                        position: absolute;
                        right: 0px;
                        top: 10px;
                        height: 50px;
                        background: transparent;
                        border: none;
                        i {
                            color: #ccc;
                            font-size: 32px;
                        }
                    }
                }
                #primary-navbar #primary-menu {
                    display: flex;
                    flex-direction: column;
                    height: 100vh !important;
                    min-width: 200px;
                    background: #fff;
                    padding-left: 0px;
                    padding-top: 10px;
                    &> li.menu-item {
                        padding-left: 30px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                    }
                    .show-submenu::after, .show-submenu a::after {
                        -webkit-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }
                    li.menu-item {
                        &.menu-item-has-children {
                            &> a {
                                width: 100%;
                                pointer-events: none;
								display: flex;
								justify-content: space-between;
                                &::after {
                                    font-family: FontAwesome;
                                    content: '\f054';
									margin: 0px;
									margin-right: 20px;
                                }
                            }
                            &:hover > .sub-menu {
                                opacity: 0;
                                visibility: hidden;
                            }
                            &.show-submenu > .sub-menu {
                                opacity: 1;
                                visibility: visible;
                                left: 5%;
                            }

                            .sub-menu {
                                transform: translate(0%);
                                right: auto;
                                top: 50px;
                                &::before {
                                    left: 30px;
                                    right: auto;
                                }
                                a {
                                    pointer-events: all;
                                }
                                .sub-menu {
                                    top: 0px;
                                    right: -79%;
                                    left: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .header-aside .header-aside-inner .nav-header-buttons .button.link {
                padding-right: 0px !important;
            }
        }
    }
    .more-button {
        height: 76px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #navbar-collapse {
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        a.more-button {
            opacity: 0;
            visibility: hidden;
        }
        #navbar-extend {
            margin-bottom: 0px;
        }
        &.hasItems {
            a.more-button {
                opacity: 1;
                visibility: visible;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
            #navbar-extend {
                display: block;
                &.active {
                    visibility: visible;
                    opacity: 1;
                    li:hover {
                        a { color: #333; }
                    }
                    .menu-item-has-children:after {
                        display: none;
                    }
                }
            }
        }
    }
    .login-section {
        #LoginBtn, #LogoutBtn {
            color: #333;
			font-size: 16px;
			font-weight: 400;
        }
        #LogoutBtn {
            padding: 10px 15px;
            font-size: 16px;
            &::after {
                font-family: FontAwesome;
                content: "\f2f5";
                margin-left: 10px;
            }
        }
        #profile-view {
			display: none;
			height: 90px;
			align-items: center;
			margin-right: 10px;
            &:hover {
                 .dropdown-menu {
                     display: block;
                 }
            }
			&.show {
				display: flex !important;
			}
        }
		#dropdownMenuLink {
			position: relative;
	        .avatar {
				display: none;
	            border-radius: 100px;
				width: 50px;
	        }
			.avatar-banner {
				width: 90px;
				display: none;
				position: absolute;
				top: 0px;
				left: -20px;
				min-width: 90px;
			}
		}
        .profile-info {
            display: flex;
            padding: 10px;
            align-items: center;
            font-size: 16px;
            img {
                width: 60px;
                margin-right: 15px;
				border-radius: 50%;
            }
			.profile-text {
				overflow: hidden;
				word-wrap: break-word;
			 }
        }
		.dropdown-menu.profile-menu {
			right: -25px;
			top: 90% !important;
			left: auto !important;
			min-width: 260px;
			transform: none !important;
			will-change: transform;
			&::before {
				left: 79%;
				content: ' ';
				position: absolute;
				width: 0;
				height: 0;
				top: 0;
				border: 7px solid #000;
				border-color: #fff #fff transparent transparent;
				-webkit-transform-origin: 0 0;
				-ms-transform-origin: 0 0;
				transform-origin: 0 0;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				box-shadow: 2px -3px 3px 0 rgba(0,0,0,.1);
				z-index: 1002;
			}
		}
    }
}
.logged-in {
	.login-section {
		#LoginBtn { display: none; }
	}
	#make-coin {
		display: flex !important;
		flex-direction: column;
	}
}

// default padding underneath universal nav
#page .site-content {
	padding-top: 121px;
	@media screen and (max-width: 768px) {
		padding-top: 76px;
	}
}

.membership-btn {
	margin: 10px;
	padding: 5px 10px;
	background: #eb002a;
	border: solid 1px #eb002a;
	color: #fff !important;
	display: flex;
	font-size: 20px;
	justify-content: center;
	&:hover {
		color: #eb002a !important;
		background: #fff;
	}
}

// Profile dropdown
 .dropdown-menu.profile-menu {
	.dropdown-links {
		padding: 15px;
		border-top: solid 1px #ccc;
		ul {
			margin: 0px;
			padding: 0px;
		}
		li.menu-item {
			height: 25px;
			font-size: 16px;
			list-style: none;
			:-moz-only-whitespace {
				display: none;
			}
			&.menu-item-event-cart {
				display: none;
			}
			a {
				color: #333;
				display: flex;
				align-items: center;
				min-height: 30px;
				align-content: center;
				i {
					width: 40px;
					margin-right: 0px;
					display: block !important;
					top: 0px !important;
				}
			}
			&.menu-item-has-children {
				.ab-submenu {
					display: none;
					position: absolute;
					left: -87%;
					top: -50%;
					background: #fff;
					padding: 15px 0 5px;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					box-shadow: 0 2px 7px 1px rgba(0,0,0,.05),0 6px 32px 0 rgba(18,43,70,.1);
					@media screen and (max-width: 550px) {
						display: none !important;
					}
					&::before {
						top: 7%;
						content: ' ';
						position: absolute;
						width: 0;
						height: 0;
						right: -7%;
						border: 7px solid #000;
						border-color: #fff;
						-webkit-transform-origin: 0 0;
						-ms-transform-origin: 0 0;
						transform-origin: 0 0;
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						box-shadow: 4px -1px 3px 0 rgba(0,0,0,0.1);
						z-index: 1002;
					}
				}
				&:hover .ab-submenu {
					display: block;
				}
			}
		}
	}
	@media screen and (max-width: 805px) {
		position: relative;
		border: 0px;
		box-shadow: none;
		padding-top: 0px;
		border-radius: 0px;
		display: none;
		.dropdown-links {
			padding-bottom: 0px;
			border: 0px;
		}
		.profile-info {
			display: none !important;
		}
		#LogoutBtn {
			display: flex;
			align-items: center;
			&:before {
				font-family: "FontAwesome";
				content: "\f2f5";
				color: #999;
				font-size: 22px;
				margin-right: 18px;
			}
		}
		.menu-item a {
			padding-left: 15px !important;
		}
	}
}

body.buddyboss-theme {
    .site-header-custom {
        width: 100% !important;
        left: 0px;
    }
    .buddypanel {
        margin-top: 121px;
        z-index: 9;
		margin-left:-230px;
		font-weight: 400;
		.bb-toggle-panel {
			.bb-icon-sidebar:before {
				content: "\e859";
			}
		}
		li a i { opacity: 1 !important; }
    }
	#page.site {
		margin-left: 0px;
	}
	&.buddypanel-open.bb-page-loaded, &.buddypanel-open.buddypanel-closed.bb-page-loaded {
		.buddypanel { margin-left: 0px }
		#page.site {
			margin-left: 230px;
		}
		@media screen and (max-width: 805px) {
			#page.site { margin-left: 0px; }
		}
		@media screen and (min-width: 805px) {
			#makey-sign {
				margin-left: 180px;
				&:hover {
					margin-left: 200px;
				}
			}
		}
	}
	&.buddypanel-closed.bb-page-loaded {
		.buddypanel { margin-left: 0px; }
		#page.site {
			margin-left: 68px;
			@media screen and (max-width: 805px) {
				margin-left: 0px;
			}
		}
		// lesson pages are set to not show any buddypanel since they have a left hand nav of their own
		&.single-sfwd-lessons #page.site {
			margin-left: 0px;
		}
	}
}
// Buddypanel Nav
body.buddypanel-open {
    #buddypanel-menu {
        .bb-menu-item {
            span { white-space: break-spaces !important; }
        }
    }
}

@media screen and (max-width: 805px) {
	body.mobile-nav {
        overflow: hidden;
        #navbar-collapse { display: none; }
	}
	#make-coin {
		display: none;
		background: #f1f1f1;
		text-align: left !important;
		padding: 10px 0px 10px 30px;
		border: solid 1px #ccc;
		font-weight: 400;
		a { padding-left: 10px; }
	}
}

.nav-separator {
    background: rgba(0,0,0,.1);
    height: 28px;
    max-height: 28px;
    width: 1px;
    display: inline-block;
    margin: 0 12px 0 12px;
    padding: 0px !important;
    vertical-align: middle;
}

// SEARCH related stuff //
#search-modal, #sb-search {
    display: none;
}

.makezine {
    #sb-search {
        display: block;
    }
}

.search-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
	height: 100%;
    @media (max-width: 805px) {
        .subscribe-call-out {
            display: none;
        }
    }
    li {
        list-style: none;
        flex: 1
    }
    //Search button
    .sb-search {
        position: relative;
        width: 0%;
        min-width: 32px;
        height: 32px;
        font-size: 24px;
        float: right;
        overflow: hidden;
        cursor: pointer;
        -webkit-backface-visibility: hidden;
        top: 5px;
        right: 0px;
        z-index: 999;
        margin-left: 20px;
        &::after {
            font-family: FontAwesome;
            content: "\f002";
        }
    }
    .subscribe-call-out {
        float: left;
        color: #333;
        position: relative;
        display: flex;
		align-items: center;
		height: 100%;
		@media screen and (max-width: 800px) {
			display: none;
		}
        .subscribe-text {
            float: left;
            text-align: right;
            a {
                font-size: 16px;
                font-weight: 300;
                text-transform: capitalize;
                color:#333;
            }
        }
        #nav-subscribe-img {
            margin: 0 10px;
            width: 50px;
        }
        .subscribe-pop-out {
            display: none;
            min-width: 300px;
            background: #f1f1f1;
            position: absolute;
            z-index: 999999;
            left: -145px;
            top: 75px;
            text-align: center;
            border: solid 2px #fff;
            box-shadow: 0 10px 12px rgba(102, 102, 102, 50%);
            -webkit-box-shadow: 0 10px 12px rgba(102, 102, 102, 50%);
            img {
                width: 100%;
            }
            @media screen and (max-width: 988px) {
                left: -70px;
            }
        }
        &:hover {
            .subscribe-pop-out {
                display: block;
            }
        }
    }
}

.menu-item.invisible { display: none; }


// for the facilitators
body:not(.facilitator-user) {
    .menu-item-facilitator-portal {
        display: none;
    }
}

//hide login for makerfaire and makezine on safari-mac
.safari-mac {
	body.makezine, body#makerfaire {
		#LoginBtn { display: none !important; }
	}
}
