/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/

.nav-hamburger {
    right: auto;
    left: 80px;
}

.newsletter-footer label {
    color: #fff;
}

/* make pages 95% width */
.bb-sfwd-aside .site-content .container {
    width: 100%;
}
/* make header 100% of the page */
#masthead .container {
    width: 100% !important;
}

.bb-footer, .site-content, .site-header {
    padding: 0px;
}

@media screen and (min-width: 768px) {
    .learndash-page-content {
        padding: 30px 30px 0;
    }
}
/* Hide topic list on non mobile sites only */
@media screen and (min-width: 768px) {
    .lesson-page .ld-topic-list, .lesson-page > #learndash-course-header, 
    .topic-page .bb-ld-info-bar, 
    .topic-page .bb-position,
    .topic-page .sfwd-course-nav,
    .topic-page .ld-progress, 
    .topic-page .ld-content-actions, .topic-page .lms-header-instructor {
        display: none;
    }
}