
.main-content { width: 100%; }
.vimeography-header {
    background: #2c4754;
    margin: -15px auto 40px;
    text-align: center;
    padding: 30px 0;
}    
.vimeography-header    h1 {
    color: #fff;
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 5px;
}
.vimeography-header    p {
    font-family: 'Roboto Light';
    font-size: 16px;
    line-height: 19px;
    padding: 5px 0px;
    color: #fff;
}
.vimeography-header    .select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 25%;
}        
.vimeography-header    .select        select {
    display: none; /*hide original SELECT element:*/
}

vimeography-galleries .select-selected {
    border: 1px solid #fff;
    color: #fff;
    &:hover {
        border-color: #4AC0FB;
    }
    &.select-arrow-active {
        border-color: #4AC0FB;
        border-bottom: 1px solid #fff;
    }
}

/*style the arrow inside the select element:*/
vimeography-galleries .select-selected:after {
    position: absolute;
    content: "";
    top: 12px;
    right: 10px;
    width: 12px;
    height: 12px;
    right: 23px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*point the arrow upwards when the select box is open (active):*/
vimeography-galleries .select-selected.select-arrow-active:after {
    top: 19px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

/*style the items (options), including the selected item:*/
vimeography-galleries .select-items div,.select-selected {
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
vimeography-galleries .select-items {
    color: #2c4754;
    position: absolute;
    background-color: #fff;
    border: solid 1px #4AC0FB;
    border-top: none;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
vimeography-galleries .select-hide {
    display: none;
}
vimeography-galleries .select-items div:hover, vimeography-galleries .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
