// Bring in all the less to compile for admin previews
@import "global.scss";
@import "panels.scss";

// and here we're overriding some of the admin styles for preview
.acf-block-preview {
	.padbottom {
		 padding-bottom: 15px !important;
	}
	.container { width: 100% !important; }
	.btn-w-ghost {
	   border: 1px solid #fff;
      padding: 6px 25px;
	}
	.btn-b-ghost {
		border: 1px solid #00aeef;
		padding: 6px 25px;
	}
	
	.floatBuyTix {
		right: 250px;
		padding-top:0px;
	}

	.featured-maker-panel-circle {
		.featured-maker .maker-img {
			width: 100%;
			padding-top: 100%;
		}
	}
	.sponsor-slide .sponsor_panel_bottom {
		a, span { color: #666; }
		span { padding: 0 15px; }
	}
	.slideshow-panel {
		.header-logo-div {
			top: 0%;
			transform: translateY(0%);
		}
		.carousel {
			position: unset;
		}
	}
}

// overwrite some of the bootstrap 
.wp-admin {
	.label {
		font-size: 100%;
		color: #333;
	}
	input[type=checkbox], input[type=radio] {
		transform: scale(1.5);
		&:checked::before {
			margin: -.3rem 0 0 -.3rem;
		}
	}
	.editor-styles-wrapper .wp-block {
		max-width: 100%;
	}
}