

// Gravity Form
.gform_wrapper.event_form_wrapper {
	margin: 0px;
	.event_form {
		padding: 0px 15px;
		@media screen and (min-width: 768px) {
			display: flex;
			.gf_page_steps {
				width: 40%;
				margin-left: -20%;
				float: left;
				display: flex;
				flex-direction: column;
				border: none;
				background: #d1d1d1;
				margin-bottom: 0px;
			}
			.gform_body {
				width: 80%;
				float: left;
				padding: 0px 20px;
			}
		}
		.gf_page_steps {
			padding-left: 20px;
		}
		.gf_step {
			width: auto;
			float: left;
			span.gf_step_number {
				float: right;
				display: block;
				visibility: hidden;
				width: 0px;
				margin-right: 15px;
				&::after {
					font-family: "FontAwesome";
					content: "\f111";
					visibility: visible;
				}
			}
			span.gf_step_label {
				float: right;
			}
			&.gf_step_completed {
				opacity: 1;
				span.gf_step_number {
					&::after {
						content: "\f058";
					}
				}
			}
		}
		.gform_body {
			label {
				font-size: 1.2em;
			}
		} 
		.gform_page_footer {
			display: flex;
			input[type="button"] {
				flex-grow: 1;
				padding: 10px;
				background-color: #005e9a;
				border: solid 1px #005e9a;
				color: #fff;
				display: inline-flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				flex-direction: column;
				border-radius: 2px;
				-webkit-border-radius: 2px;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 300;
				height: 50px;
				&:visited, &:active { color: #fff; }
				&:hover {
				  background: #fff;
				  color: #005e9a;
				  border: solid 1px #005e9a;
				}
				&:last-of-type {
					margin-right: 0px;
				}
			}
		}
		.event_type {
			text-align: center;
			.ginput_container_radio ul { 
				display: flex;
				justify-content: space-evenly;
				flex-wrap: wrap;
				li {
					flex: 1 0 21%;
					@media screen and (max-width: 1200px) {
						flex: 1 0 46%;
					}
					input[type="radio"] {
						opacity: 0;
						position: fixed;
						width: 0;
					}
					label {
						background-color: #f1f1f1;
						font-family: sans-serif, Arial;
						font-size: 16px;
						border: 1px solid #ccc;
						border-radius: 4px;
						min-height: 140px;
						display: flex;
						min-width: 200px;
						justify-content: center;
						align-items: center;
					}
					label:hover {
						border-color: #111;
					}
					input[type="radio"]:checked + label {
						background-color: #ddd;
						border-color: #111;
					}
				}
			}
		}
	}
}

// Post type
.single-tribe_events {
	.gallery {
		display: flex;
	}
	.gallery-item {
		flex-basis: 33.3%;
	}
}
