.gform_wrapper .gfield_description.validation_message {
	top: -2em;
    padding-bottom: 16px;
    padding-top: 16px;
    width: auto;
    right: -15px;
    left: auto;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required  {
	div.ginput_container {
		padding-right: 15px;
	}
	.gfield_label, .ginput_counter {
		color: #fff !important;
	}
	select {
		color: #000 !important;
	}
}

.woocommerce-cart { background: #f1f1f1; }
.woocommerce {
	form {
		.woocommerce-billing-fields {
			background: #fff;
			border: solid 1px #005e9a;
			border-radius: 10px;
			padding: 10px 20px;
		}
		.form-row {
			input.input-text, textarea, .select2 {
				padding: 10px;
				border: solid 1px #ccc;
				border-radius: 5px;
				.select2-selection--single,  .select2-selection--single:focus {
					border: 0px;
					outline: none;
				}
				.select2-selection--single .select2-selection__arrow {
					top: 8px;
					right: 10px;
				}
			}
		}
		.woocommerce-checkout-review-order-table {
			background: #fff;
		}
		#coupon_code {
			width: 180px;
		}
	}
	#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment, .woocommerce-error, .woocommerce-info, .woocommerce-message, .woocommerce-cart-form, .cart_totals table {
		background: #fff;
	}
	a.button.alt, button.button.alt, input.button.alt {
		border: solid 1px #005e9a;
		background: #005e9a;
		&:hover {
			color: #005e9a;
			background: #fff;
		}
	}
	label[for=payment_method_stripe] {
		width: 100%;
		img { max-width: 40px; }
	}
	// order confirmation
	
}

.woocommerce-order-received {
	.woocommerce {
		margin-top: 30px;
		ul.order_details {
			background: #fff;
			padding: 20px 20px 15px;
			margin-top: 15px;
			border-radius: 10px;
			display: flex;
			border: solid 1px #005e9a;
			justify-content: center;
			flex-wrap: wrap;
			li { 
				font-size: 1em;
				padding-left: 1em;
				margin: 10px 0;
				border-right: 0px;
			}
		}
		h1 {
			display: none;
		}
		table.shop_table, table.shop_table td {
			border-color: #005e9a;
			padding: 10px;
			font-size: 18px;
		}
		.woocommerce-notice--success {
			text-align: center;
			font-size: 1.5rem;
		}
		.woocommerce-customer-details address { 
			border: solid 1px #005e9a !important;
			font-size: 18px !important;
			padding: 15px !important;
		}
	}
}